<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../layouts/head %>
</head>
<body>
  <header>
    <% include ../layouts/navbar %>
    <% include css.ejs %>
  </header>

  <main>
    <div class="container-fluid" style="padding-left:0">
      <% if (user && user.local.accountType==='admin') { %>
        <%# 未回答問題 %>
          <div class="row">
            <div class="col-xs-12">
              <h1>未回答問題<small>點擊可以回答</small></h1>
                <table class="table table-hover">
                  <tr>
                    <th>類別</th>
                    <th>日期</th>
                    <th>標題</th>
                  </tr>
                  <% qna.forEach( function (q) { %>
                    <% if(!q.answer) { %>
                      <tr id="<%= q._id %>-answer" class="admin-answer <%= q._id %>">
                        <td><%= typeToChineseName[q.type] %></td>
                        <td><%= renderTime(q.updated) %></td>
                        <td class="title"><%= q.title %></td>
                        <input class="content" type="hidden" value="<%- q.content %>" />
                        <input class="type" type="hidden" value="<%= q.type %>" />
                      </tr>
                    <% } %>
                  <% }); %>
                </table>
            </div>
          </div>
        <%# /未回答問題 %>
      <% } %>
      <div class="row">
        <div class="col-md-2">
          <%# 側導覽列 %>
            <nav id="sideNav">
              <div class="nav-toggle-btn" style="margin-top: 102px;">
                <i class="fa fa-4x fa-caret-square-o-right" aria-hidden="true"></i>
              </div>
              <ul id="navi" style="height:100%; margin-top: 5%;">
                <a href="#"><img src="images/logo.png" alt="Q&A LOGO" style="width: 90%; margin: 2%;"></a>
                <li><a href="#hot" type="button"><img src="images/btn_hot.png" alt="熱門問題按鈕"></a></li>
                <li><a href="#all" type="button"><img src="images/btn_all.png" alt="所有問題按鈕"></a></li>
                <li><a href="#school" type="button"><img src="images/btn_school.png" alt="校園生活按鈕"></a></li>
                <li><a href="#student" type="button"><img src="images/btn_student.png" alt="學生事務按鈕"></a></li>
                <li><a href="#dorm" type="button"><img src="images/btn_dorm.png" alt="宿舍生活按鈕"></a></li>
                <li><a href="#other" type="button"><img src="images/btn_other.png" alt="其他按鈕"></a></li>
                <li><a type="button" data-toggle="modal" data-target="#post"><img src="images/btn_post.png" alt="我要發問按鈕"></a></li>
              </ul>
            </nav>
          <%# /側導覽列 %>
        </div><%# /col-md-2 %>
        <div class="col-md-8">

          <%# 熱門問題 Top15 %>
            <div class="qa-hot">
              <div class="row text-center">
                <img src="images/title_hot.png" alt="熱門問題" style="width: 50%;">
              </div>
              <table class="table table-hover">
                <tr>
                  <th>類別</th>
                  <th>日期</th>
                  <th>標題</th>
                  <th>瀏覽次數</th>
                </tr>
                <% var counter = 1; %>
                <% qna.forEach( function (q) { %>
                  <% if(q.answer && counter <= 15) { %>
                    <tr id="<%= q._id %>-hot" class="clickable <%= q._id %>">
                      <td><%= typeToChineseName[q.type] %></td>
                      <td><%= renderTime(q.updated) %></td>
                      <td><%= q.title %></td>
                      <td class="content hidden">BUG appear</td>
                      <td class="answer hidden">BUG appear</td>
                      <td class="view"><%= q.view %></td>
                    </tr>
                    <% counter++; %>
                  <% } %>
                <% }); %>
              </table>
            </div>
          <%# /熱門問題 Top15 %>
          <%# 所有問題 %>
            <div class="qa-all" style="display: none;">
              <div class="text-center">
                <img id="title-all" src="images/title_all.png" alt="所有問題標題" style="width: 50%;">
                <img id="title-school" src="images/title_school.png" alt="校園生活標題" style="width: 50%;">
                <img id="title-student" src="images/title_student.png" alt="學生事務標題" style="width: 50%;">
                <img id="title-dorm" src="images/title_dorm.png" alt="宿舍生活標題" style="width: 50%;">
                <img id="title-other" src="images/title_other.png" alt="其他問題標題" style="width: 50%;">
              </div>
              <div>
                <table class="table table-hover">
                  <tr>
                    <th>類別</th>
                    <th>日期</th>
                    <th>標題</th>
                    <th>瀏覽次數</th>
                    <% if( user && user.local.accountType === 'admin' ) { %>
                      <th>管理員選項</th>
                    <% } %>
                  </tr>
                  <% qna.forEach( function (q) { %>
                    <% if(q.answer) { %>
                      <tr id="<%= q._id %>-all" class="clickable <%= q._id %> qa-<%= typeToEnglishName[q.type] %>"><%# 在 routes/qna.js 裡面 %>
                        <td><%= typeToChineseName[q.type] %><%# 在 routes/qna.js 裡面 %></td>
                        <td><%= renderTime(q.updated) %></td>
                        <td class="title"><%= q.title %></td>
                        <td class="view"><%= q.view %></td>
                        <% if( user && user.local.accountType === 'admin' ) { %>
                          <td><button id="<%= q._id %>-admin-btn" class="btn btn-success btn-sm btn-admin-update-answer" style="z-index: 99">修改回答</button></td>
                          <input class="content" type="hidden" value="<%- q.content %>" />
                          <input class="type" type="hidden" value="<%= q.type %>" />
                        <% } %>
                      </tr>
                    <% } %>
                  <% }); %>
                </table>
              </div>
            </div>
          <%# /所有問題 %>
        </div><%# ./col-md-8 %>
        <div class="col-md-2">
          <%# 分頁導覽
            <ul class="pagination">
              <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
            </ul>
          /分頁導覽 %>
        </div><%# /col-md-2 %>
      </div><%# /.row %>

      <%# show Modal %>
        <div id="show-modal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
            
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 id="show-title" class="modal-title text-center"></h3>
              </div>

              <div class="modal-body">
                <div class="modal-body"><h4>Q</h4></div>
                <div class="modal-body"><p id="show-content"></p></div>
                <div class="modal-body"><h4>A</h4></div>
                <div class="modal-body"><p id="show-answer"></p></div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      <%# /show Modal %>

      <% if (user && user.local.accountType==='admin') { %>
        <%# 管理員 Modal %>
          <div class="modal fade" id="modal-admin-answer" role="dialog">
            <div class="modal-dialog modal-lg">
              
              <div class="modal-content"><%# Modal %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title text-center">管理員專區</h4>
                </div>

                <div class="modal-body">
                  <form id="admin-answer-form" method="POST" action="<%# 請看 js.ejs %>">
                    <div class="form-group">
                      <label for="admin-answer-title">標題</label>
                      <input id="admin-answer-title" name="title" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="admin-answer-content">詳細描述</label>
                      <textarea id="admin-answer-content" name="content" class="form-control" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="admin-answer-answer">答案</label>
                      <div id="CKE-wrapper">
                        <textarea id="admin-answer-answer" name="answer" class="form-control" rows="5" placeholder="輸入回答..."></textarea>
                      </div>
                    </div>
                    <div>
                      <select id="admin-answer-type" name="type" class="form-control" style="height: 50px;">
                        <option value="1">校園生活</option>
                        <option value="2">學生事務</option>
                        <option value="3">宿舍生活</option>
                        <option value="0">其他</option>
                      </select>
                    </div>
                    <div class="text-right">
                      <button type="submit" class="btn btn-default">送出</button>
                      <a id="btn-admin-delete-answer" class="btn btn-danger">刪除問題</a>
                      <button type="button" class="btn btn-info" data-dismiss="modal">關閉</button>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                </div>
              </div><%# /Modal %>
              
            </div>
          </div>
        <%# /管理員 Modal %>
      <% } %>

      <% if (user) { %>
        <%# 發問用 Modal %>
          <div class="modal fade" id="post" role="dialog">
            <div class="modal-dialog modal-lg">
              
              <div class="modal-content"><%# Modal %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title text-center">發問ING</h4>
                </div>

                <div class="modal-body">
                  <form method="POST" action="/qna">
                    <div class="form-group">
                      <label for="title">標題</label>
                      <input id="title" name="title" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                      <label for="content">詳細描述</label>
                      <textarea id="content" name="content" class="form-control" rows="5"></textarea>
                    </div>
                    <div>
                      <select name="type" class="form-control" style="height: 50px;">
                        <option value="1">校園生活</option>
                        <option value="2">學生事務</option>
                        <option value="3">宿舍生活</option>
                        <option value="0">其他</option>
                      </select>
                    </div>
                    <div class="text-right">
                      <button type="submit" class="btn btn-default">送出</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                  </form>
                </div>
              </div><%# /Modal %>
              
            </div>
          </div>
        <%# /發問用 Modal %>

        <%# 發問成功 Modal %>
          <div class="modal fade" id="success" role="dialog">
            <div class="modal-dialog modal-lg">
              
              <div class="modal-content"><%# Modal %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title text-center">前往個人專區可以查看問過的問題</h3>
                </div>

                <div class="modal-body text-center">
                  <img src="images/success.png" alt="發問成功" style="max-width: 90%;" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-dismiss="modal">留在此頁</button>
                  <a href="/personal" class="btn btn-success">個人專區</a>
                </div><%# /Modal 內文 %>
              </div><%# /Modal %>
              
            </div>
          </div>
        <%# /發問成功 Modal %>

        <%# 刪除成功 Modal %>
          <div class="modal fade" id="delete-success" role="dialog">
            <div class="modal-dialog modal-lg">
              
              <div class="modal-content"><%# Modal %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title text-center">刪除成功</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
                </div><%# /Modal 內文 %>
              </div><%# /Modal %>
              
            </div>
          </div>
        <%# /刪除成功 Modal %>

      <% } else { %>

        <%# 請登入 Modal %>
          <div class="modal fade" id="post" role="dialog">
            <div class="modal-dialog modal-lg">
              
              <div class="modal-content"><%# Modal %>
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title text-center">發問前請先登入喔</h3>
                </div>

                <div class="modal-body">
                  <div class="modal-body"><h4>點選"前往登入"進入登入畫面</h4></div>
                  <div class="modal-body"><h4>點選"取消"繼續瀏覽新生Ｑ＆Ａ</h4></div>
                </div>

                <div class="modal-footer">
                  <a href="/login" type="button" class="btn btn-default">前往登入</a>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                </div><%# /Modal 內文 %>
              </div><%# /Modal %>
              
            </div>
          </div>
        <%# /請登入 Modal %>

      <% } %>

    </div><%# /.container-fluid %>
  </main>
  <footer>
    <% include ../layouts/footer %>
  </footer>
  <% include ../layouts/js %>
  <% include js %>
</body>
</html>
