<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> -->

<script src="/javascript/ckeditor/ckeditor.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript">
$('.navbar').css({"margin-bottom":"0px"});
$(document).ready(function(){
    $('.edit_data').click(function(){
        var id = $(this).val();
        $.ajax({
            url:    "/documents/require_data/"+id,
            error: function(e){
                console.log("ERR  :"+e);
            },
            success: function(data){
                if (data.type=="常用連結"){
                    console.log("here");
                    $('#commonly_used_link_label_in_edit_data').css({"display":"inline-block"});
                    $('#not_commonly_used_link_label_in_edit_data').css({"display":"none"});
                    $('#commonly_used_link_textarea_in_edit_data').css({"visibility":"visible"}); 
                    $('#cke_not_commonly_used_link_textarea_in_edit_data').css({"visibility":"hidden"});
                    $('#commonly_used_link_textarea_in_edit_data').attr({"name":"Content"});
                    $('#not_commonly_used_link_textarea_in_edit_data').attr({"name":""});
                    //CKEDITOR.instances.editor1.document.getBody().getText()
                }else{
                    $('#commonly_used_link_label_in_edit_data').css({"display":"none"});
                    $('#not_commonly_used_link_label_in_edit_data').css({"display":"inline-block"});
                    $('#commonly_used_link_textarea_in_edit_data').css({"visibility":"hidden"}); 
                    $('#cke_not_commonly_used_link_textarea_in_edit_data').css({"visibility":"visible"});
                    $('#commonly_used_link_textarea_in_edit_data').attr({"name":""});
                    $('#not_commonly_used_link_textarea_in_edit_data').attr({"name":"Content"});
                }
                $("#edit_id").val(data._id);
                $("#edit_name").val(data.name);
                $("#edit_type").html(data.type);
                CKEDITOR.instances['not_commonly_used_link_textarea_in_edit_data'].setData(data.content);
                $("#commonly_used_link_textarea_in_edit_data").val(data.content);
                $("#edit_data_model").modal("show");
            }
        });
    })
    $('#change_order_id').change(function(){
        $('#first_order').html("");
        $('#second_order').html("");
        <%for (var i in document){%>
            if($(this).find(':selected').text()=="<%-document[i].type%>"){
                $('#first_order').html($('#first_order').html()+'<option value="<%-document[i].order%>"><%-document[i].order%></option>');
                $('#second_order').html($('#second_order').html()+'<option value="<%-document[i].order%>"><%-document[i].order%></option>');
            }
        <%}%>

    });
    $('.delete_data').click(function(){
        if(confirm("確定要刪除?")){
            var id = $(this).val();
            $.ajax({
                url:    '/documents/delete/'+ id,
                type:   'GET',
                error: function(e){
                    console.log("ERR  :"+e);
                },
                success: function(data){
                    $('#'+id).remove();
                }
            });
        }
    })
	$("select").change(function() {
        console.log("select"+$(this).find(':selected').text());
	    if ($(this).find(':selected').text()=="常用連結"){
	    	$('#commonly_used_link_label').css({"display":"inline-block"});
	    	$('#not_commonly_used_link_label').css({"display":"none"});
            $('#commonly_used_link_textarea').css({"visibility":"visible"}); 
            $('#cke_not_commonly_used_link_textarea').css({"visibility":"hidden"});
            $('#commonly_used_link_textarea').attr({"name":"content"});
            $('#not_commonly_used_link_textarea').attr({"name":""});
            //CKEDITOR.instances.editor1.document.getBody().getText()
	    }else{
	    	$('#commonly_used_link_label').css({"display":"none"});
	    	$('#not_commonly_used_link_label').css({"display":"inline-block"});
            $('#commonly_used_link_textarea').css({"visibility":"hidden"}); 
            $('#cke_not_commonly_used_link_textarea').css({"visibility":"visible"});
            $('#commonly_used_link_textarea').attr({"name":""});
            $('#not_commonly_used_link_textarea').attr({"name":"content"});
	    }
	});
    $("#edit_type").change(function() {
        console.log("select"+$(this).find(':selected').text());
        if ($(this).find(':selected').text()=="常用連結"){
            $('#commonly_used_link_label_in_edit_data').css({"display":"inline-block"});
            $('#not_commonly_used_link_label_in_edit_data').css({"display":"none"});
            $('#commonly_used_link_textarea_in_edit_data').css({"visibility":"visible"}); 
            $('#cke_not_commonly_used_link_textarea_in_edit_data').css({"visibility":"hidden"});
            $('#commonly_used_link_textarea_in_edit_data').attr({"name":"content"});
            $('#not_commonly_used_link_textarea_in_edit_data').attr({"name":""});
            //CKEDITOR.instances.editor1.document.getBody().getText()
        }else{
            $('#commonly_used_link_label_in_edit_data').css({"display":"none"});
            $('#not_commonly_used_link_label_in_edit_data').css({"display":"inline-block"});
            $('#commonly_used_link_textarea_in_edit_data').css({"visibility":"hidden"}); 
            $('#cke_not_commonly_used_link_textarea_in_edit_data').css({"visibility":"visible"});
            $('#commonly_used_link_textarea_in_edit_data').attr({"name":""});
            $('#not_commonly_used_link_textarea_in_edit_data').attr({"name":"content"});
        }
    });
    $("#freshmen-source,#master-freshmen-source,#often-link-source").mouseenter(function(){
            $(this).animate({
                padding:'0vh'
            }, 200);
    });
    $("#freshmen-source,#master-freshmen-source,#often-link-source").mouseleave(function(){
            $(this).animate({
                padding:'2vh'
            }, 200);
    });
    <% for (var i in document){%>
        $("#<%- document[i].id%>").mouseenter(function(){
            if ("<%-document[i].type%>"!="常用連結"){
		        $(this).animate({
		            padding:'0px'
		        }, 200);
            }else{
                if ($("#<%- document[i].id+"link"%>").is(':hover')){

                }else{
                    $(this).animate({
                        opacity: '0.1'
                    }, { duration: 200, queue: false });
                    $("#<%- document[i].id+"link"%>").animate({
                        opacity: '1'
                    }, { duration: 200, queue: false });
                    console.log("mouseover");
                }
            }
		});
		$("#<%- document[i].id%>").mouseleave(function(){
            if ("<%-document[i].type%>"!="常用連結"){
		        $(this).animate({
		            padding:'2vw'
		        }, 200);
            }else{
                if ($("#<%- document[i].id+"link"%>").is(':hover')){

                }else{
                    $(this).animate({
                        opacity: '1'
                    }, { duration: 200, queue: false });
                    $("#<%- document[i].id+"link"%>").animate({
                        opacity: '0'
                    }, { duration: 200, queue: false });
                    console.log("mouseout");
                }
            }
		});
        $("#<%- document[i].id+"link"%>").mouseover(function(){
            $("#<%- document[i].id%>").css({"opacity":"0.4"});
            $("#<%- document[i].id+"link"%>").css({"opacity":"1"});
        });
    <%}%>
    $("#freshmen-source").click(function(){
        $('#freshmen-distaination').css({"display":"block"});
        $('#master-freshmen-distaination').css({"display":"none"});
        $('#often-link-distaination').css({"display":"none"});
        $('html,body').animate({
            scrollTop: $('#freshmen-distaination').offset().top-91
        }, 1000);
        return false;
    });
    $("#master-freshmen-source").click(function(){
        $('#freshmen-distaination').css({"display":"none"});
        $('#master-freshmen-distaination').css({"display":"block"});
        $('#often-link-distaination').css({"display":"none"});
        $('html,body').animate({
            scrollTop: $('#master-freshmen-distaination').offset().top-91
        }, 1000);
        return false;
    });
    $("#often-link-source").click(function(){
        $('#freshmen-distaination').css({"display":"none"});
        $('#master-freshmen-distaination').css({"display":"none"});
        $('#often-link-distaination').css({"display":"block"});
        $('html,body').animate({
            scrollTop: $('#often-link-distaination').offset().top-91
        }, 1000);
        return false;
    });
    $(".under-1-source").click(function(){
        $('#under-1').css({"display":"block"});
        $('#under-2').css({"display":"none"});
        $('#under-3').css({"display":"none"});
        $('#under-1').addClass("active");
        $('#under-2').removeClass("active");
        $('#under-3').removeClass("active");
        return false;
    });
    $(".under-2-source").click(function(){
        $('#under-1').css({"display":"none"});
        $('#under-2').css({"display":"block"});
        $('#under-3').css({"display":"none"});
        $('#under-1').removeClass("active");
        $('#under-2').addClass("active");
        $('#under-3').removeClass("active");
        return false;
    });
    $(".under-3-source").click(function(){
        $('#under-1').css({"display":"none"});
        $('#under-2').css({"display":"none"});
        $('#under-3').css({"display":"block"});
        $('#under-1').removeClass("active");
        $('#under-2').removeClass("active");
        $('#under-3').addClass("active");
        return false;
    });
    $(".under-4-source").click(function(){
        $('#under-4').css({"display":"block"});
        $('#under-5').css({"display":"none"});
        $('#under-4').addClass("active");
        $('#under-5').removeClass("active");
        return false;
    });
    $(".under-5-source").click(function(){
        $('#under-4').css({"display":"none"});
        $('#under-5').css({"display":"block"});
        $('#under-4').removeClass("active");
        $('#under-5').addClass("active");
        return false;
    });
    
});
CKEDITOR.replace('content',{
    filebrowserUploadUrl: '/uploader',
});
CKEDITOR.replace('Content',{
    filebrowserUploadUrl: '/uploader',
});
CKEDITOR.editorConfig = function (config){
  config.enterMode = CKEDITOR.ENTER_BR;
  config.autoParagraph = false;
};
</script>