<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script> -->

<script src="/javascript/ckeditor/ckeditor.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

<script type="text/javascript">

    <%/*解決在modal中的table無法縮放的問題*/%>
    $('table').attr({"style":""});
    $('tbody').attr({"style":""});
    $('td').attr({"style":""});
    $('tr').attr({"style":""});

    <%/*開始時大一新生—註冊報到和碩一新生—註冊報到的按鈕都經被按了*/%>
    $(".under-1-source").css({"background-color":"#eee"});
    $(".under-4-source").css({"background-color":"#eee"});

    $(document).ready(function(){

        <%/*get?後面的東西*/%>
        var strUrl = location.search;
        if (strUrl.indexOf("?") !== -1) {
            var getSearch = strUrl.split("?");
            var getString = getSearch[1];

            <%/*大一新生—註冊報到*/%>
            if(getString=="1.1"){
                $('#freshmen-distaination').css({"display":"block"});
                $('#master-freshmen-distaination').css({"display":"none"});
                $('#often-link-distaination').css({"display":"none"});
                $('html,body').animate({
                    scrollTop: $('#freshmen-distaination').offset().top-91
                }, 1000);
                $('#under-1').css({"display":"block"});
                $(".under-1-source").css({"background-color":"#eee"});
                $('#under-2').css({"display":"none"});
                $('#under-3').css({"display":"none"});
                $('#under-1').addClass("active");
                $('#under-2').removeClass("active");
                $('#under-3').removeClass("active");

            <%/*大一新生—新生週活動*/%>
            }else if(getString=="1.2"){
                $('#freshmen-distaination').css({"display":"block"});
                $('#master-freshmen-distaination').css({"display":"none"});
                $('#often-link-distaination').css({"display":"none"});
                $('html,body').animate({
                    scrollTop: $('#freshmen-distaination').offset().top-91
                }, 1000);
                $('#under-1').css({"display":"none"});
                $('#under-2').css({"display":"block"});
                $(".under-2-source").css({"background-color":"#eee"});
                $('#under-3').css({"display":"none"});
                $('#under-1').removeClass("active");
                $('#under-2').addClass("active");
                $('#under-3').removeClass("active");

            <%/*大一新生—共同課程門檻*/%>
            }else if(getString=="1.3"){
                $('#freshmen-distaination').css({"display":"block"});
                $('#master-freshmen-distaination').css({"display":"none"});
                $('#often-link-distaination').css({"display":"none"});
                $('html,body').animate({
                    scrollTop: $('#freshmen-distaination').offset().top-91
                }, 1000);
                $('#under-1').css({"display":"none"});
                $('#under-2').css({"display":"none"});
                $('#under-3').css({"display":"block"});
                $(".under-3-source").css({"background-color":"#eee"});
                $('#under-1').removeClass("active");
                $('#under-2').removeClass("active");
                $('#under-3').addClass("active");

            <%/*碩一新生—註冊報到*/%>
            }else if(getString=="2.1"){
                $('#freshmen-distaination').css({"display":"none"});
                $('#master-freshmen-distaination').css({"display":"block"});
                $('#often-link-distaination').css({"display":"none"});
                $('html,body').animate({
                    scrollTop: $('#master-freshmen-distaination').offset().top-91
                }, 1000);
                $(".under-4-source").css({"background-color":"#eee"});
                $('#under-4').css({"display":"block"});
                $('#under-5').css({"display":"none"});
                $('#under-4').addClass("active");
                $('#under-5').removeClass("active");

            <%/*碩一新生—新生週活動*/%>
            }else if(getString=="2.2"){
                $('#freshmen-distaination').css({"display":"none"});
                $('#master-freshmen-distaination').css({"display":"block"});
                $('#often-link-distaination').css({"display":"none"});
                $('html,body').animate({
                    scrollTop: $('#master-freshmen-distaination').offset().top-91
                }, 1000);
                $('#under-4').css({"display":"none"});
                $(".under-5-source").css({"background-color":"#eee"});
                $('#under-5').css({"display":"block"});
                $('#under-4').removeClass("active");
                $('#under-5').addClass("active");

            <%/*常用連結*/%>
            }else if(getString=="3"){
                $('#freshmen-distaination').css({"display":"none"});
                $('#master-freshmen-distaination').css({"display":"none"});
                $('#often-link-distaination').css({"display":"block"});
                $('html,body').animate({
                    scrollTop: $('#often-link-distaination').offset().top-91
                }, 1000);
            }
        }

        <%/*滾動modal時後後面不會跟著一起滾動*/%>
        $(".modal").on('hide.bs.modal', function () {
            $("html").css({
                "overflow":"auto"
            });
         });
        $(".modal").on('shown.bs.modal', function () {
            $("html").css({
                "overflow":"hidden"
            });
         });
        
        <%/*滑鼠進入圖片時*/%>
        $(".commonly_used_link_image").mouseenter(function(){
            <%/*如果type是常用連結且滑鼠不是在中間的字上面時*/%>
            if (!($(this).siblings('p').is(':hover'))){
                <%/*圖片變淡*/%>
                $(this).velocity({
                    opacity: '0.1'
                }, { duration: 200, queue: false });
                <%/*字變清楚*/%>
               $(this).siblings('p').velocity({
                    opacity: '1'
                }, { duration: 200, queue: false });
            }
        });

        <%/*滑鼠離開圖片時*/%>
        $(".commonly_used_link_image").mouseleave(function(){
            <%/*如果type是常用連結且滑鼠不是在中間的字上面時*/%>
            if (!($(this).siblings('p').is(':hover'))){
                <%/*圖片變清楚*/%>
                $(this).velocity({
                    opacity: '1'
                }, { duration: 200, queue: false });
                <%/*字變淡*/%>
                $(this).siblings('p').velocity({
                    opacity: '0'
                }, { duration: 200, queue: false });
            }
        });

        <%/*最上方的三個主要圖片的動畫*/%>
        $("#freshmen-source").click(function(){
            $('#freshmen-distaination').css({"display":"block"});
            $('#master-freshmen-distaination').css({"display":"none"});
            $('#often-link-distaination').css({"display":"none"});
            $('html,body').animate({
                scrollTop: $('#freshmen-distaination').offset().top-91
            }, 1000);
            return false;
        });
        $("#master-freshmen-source").click(function(){
            $('#freshmen-distaination').css({"display":"none"});
            $('#master-freshmen-distaination').css({"display":"block"});
            $('#often-link-distaination').css({"display":"none"});
            $('html,body').animate({
                scrollTop: $('#master-freshmen-distaination').offset().top-91
            }, 1000);
            return false;
        });
        $("#often-link-source").click(function(){
            $('#freshmen-distaination').css({"display":"none"});
            $('#master-freshmen-distaination').css({"display":"none"});
            $('#often-link-distaination').css({"display":"block"});
            $('html,body').animate({
                scrollTop: $('#often-link-distaination').offset().top-91
            }, 1000);
            return false;
        });

        <%/*大一新生-註冊報到的按鈕*/%>
        $(".under-1-source").click(function(){
            $(this).css({"background-color":"#eee"});
            $(".under-2-source").css({"background-color":""});
            $(".under-3-source").css({"background-color":""});
            $('#under-1').css({"display":"block"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"none"});
            $('#under-1').addClass("active");
            $('#under-2').removeClass("active");
            $('#under-3').removeClass("active");
            return false;
        });
        <%/*大一新生-新生週活動的按鈕*/%>
        $(".under-2-source").click(function(){
            $(".under-1-source").css({"background-color":""});
            $(this).css({"background-color":"#eee"});
            $(".under-3-source").css({"background-color":""});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"block"});
            $('#under-3').css({"display":"none"});
            $('#under-1').removeClass("active");
            $('#under-2').addClass("active");
            $('#under-3').removeClass("active");
            return false;
        });
        <%/*大一新生-共同課程及門檻的按鈕*/%>
        $(".under-3-source").click(function(){
            $(".under-1-source").css({"background-color":""});
            $(".under-2-source").css({"background-color":""});
            $(this).css({"background-color":"#eee"});
            $('#under-1').css({"display":"none"});
            $('#under-2').css({"display":"none"});
            $('#under-3').css({"display":"block"});
            $('#under-1').removeClass("active");
            $('#under-2').removeClass("active");
            $('#under-3').addClass("active");
            return false;
        });
        <%/*碩一新生-註冊報到的按鈕*/%>
        $(".under-4-source").click(function(){
            $(this).css({"background-color":"#eee"});
            $(".under-5-source").css({"background-color":""});
            $('#under-4').css({"display":"block"});
            $('#under-5').css({"display":"none"});
            $('#under-4').addClass("active");
            $('#under-5').removeClass("active");
            return false;
        });
        <%/*碩一新生-新生週活動的按鈕*/%>
        $(".under-5-source").click(function(){
            $(".under-4-source").css({"background-color":""});
            $(this).css({"background-color":"#eee"});
            $('#under-4').css({"display":"none"});
            $('#under-5').css({"display":"block"});
            $('#under-4').removeClass("active");
            $('#under-5').addClass("active");
            return false;
        });

        <%/*開顯示modal時，如果沒開過那個檔案，才會向後台要資料*/%>
        var documentObjects = new Object();
        $('.pop-modal').click(function(){
            var id = this.id;
            if (id in documentObjects){
                $('#show-name').html(documentObjects[id].name);
                $('#show-content').html(documentObjects[id].content);
                <% if(user&&user.local.accountType==='admin'){%>
                    $('show-edit-data').val(id);
                    $('show-insert-image').attr({"data-target":"#"+id+"insertimg"})
                    $('show-delete-image').val(id);
                <%}%>
                $("#the-show-modal").modal("show");
            }else{
                $.ajax({
                    url:    "/documents/require_data/"+id,
                    error: function(e){
                        console.log("ERR  :"+e);
                    },
                    success: function(data){
                        $('#show-name').html(data.name);
                        $('#show-content').html(data.content);
                        <% if(user&&user.local.accountType==='admin'){%>
                            $('#show-edit-data').val(id);
                            $('#show-insert-image').attr({"data-target":"#"+id+"insertimg"})
                            $('#show-delete-image').val(id);
                        <%}%>
                        documentObjects[id] = data;
                        $('#the-show-modal').modal("show");
                    }
                })
            }
        })


        <%/*管理員功能*/%>
        <% if(user&&user.local.accountType==='admin'){%>
            <%/*更新資料的ajax*/%>
            $('.edit_data').click(function(){
                var id = $(this).val();
                $.ajax({
                    url:    "/documents/require_data/"+id,
                    error: function(e){
                        console.log("ERR  :"+e);
                    },
                    success: function(data){
                        if (data.type=="常用連結"){
                            $('#commonly_used_link_label_in_edit_data').css({"display":"inline-block"});
                            $('#not_commonly_used_link_label_in_edit_data').css({"display":"none"});
                            $('#commonly_used_link_textarea_in_edit_data').css({"visibility":"visible"}); 
                            $('#cke_not_commonly_used_link_textarea_in_edit_data').css({"visibility":"hidden"});
                            $('#commonly_used_link_textarea_in_edit_data').attr({"name":"Content"});
                            $('#not_commonly_used_link_textarea_in_edit_data').attr({"name":""});
                            //CKEDITOR.instances.editor1.document.getBody().getText()
                        }else{
                            $('#commonly_used_link_label_in_edit_data').css({"display":"none"});
                            $('#not_commonly_used_link_label_in_edit_data').css({"display":"inline-block"});
                            $('#commonly_used_link_textarea_in_edit_data').css({"visibility":"hidden"}); 
                            $('#cke_not_commonly_used_link_textarea_in_edit_data').css({"visibility":"visible"});
                            $('#commonly_used_link_textarea_in_edit_data').attr({"name":""});
                            $('#not_commonly_used_link_textarea_in_edit_data').attr({"name":"Content"});
                        }
                        $("#edit_id").val(data._id);
                        $("#edit_name").val(data.name);
                        $("#edit_type").html(data.type);
                        CKEDITOR.instances['not_commonly_used_link_textarea_in_edit_data'].setData(data.content);
                        $("#commonly_used_link_textarea_in_edit_data").val(data.content);
                        $("#edit_data_model").modal("show");
                    }
                });
            })

            <%/*在變動順序modal裡選擇類別後在下面兩個select加入1~有幾個*/%>
            $('#change_order_id').change(function(){
                $('#first_order').html("");
                $('#second_order').html("");
                <%for (var i in document){%>
                    if($(this).find(':selected').text()=="<%-document[i].type%>"){
                        $('#first_order').html($('#first_order').html()+'<option value="<%-document[i].order%>"><%-document[i].order%></option>');
                        $('#second_order').html($('#second_order').html()+'<option value="<%-document[i].order%>"><%-document[i].order%></option>');
                    }
                <%}%>
            });

            <%/*刪除功能ajax*/%>
            $('.delete_data').click(function(){
                if(confirm("確定要刪除?")){
                    var id = $(this).val();
                    $.ajax({
                        url:    '/documents/delete/'+ id,
                        type:   'GET',
                        error: function(e){
                            console.log("ERR  :"+e);
                        },
                        success: function(data){
                            $('#'+id).remove();
                        }
                    });
                }
            })

            <%/*在新增modal裡更改類別為常用連結時會把有有ckediter的textarea隱藏起來並顯示常用連結的textare，反之亦然*/%>
            $("select").change(function() {
                console.log("select"+$(this).find(':selected').text());
                if ($(this).find(':selected').text()=="常用連結"){
                    $('#commonly_used_link_label').css({"display":"inline-block"});
                    $('#not_commonly_used_link_label').css({"display":"none"});
                    $('#commonly_used_link_textarea').css({"visibility":"visible"}); 
                    $('#cke_not_commonly_used_link_textarea').css({"visibility":"hidden"});
                    $('#commonly_used_link_textarea').attr({"name":"content"});
                    $('#not_commonly_used_link_textarea').attr({"name":""});
                    //CKEDITOR.instances.editor1.document.getBody().getText()
                }else{
                    $('#commonly_used_link_label').css({"display":"none"});
                    $('#not_commonly_used_link_label').css({"display":"inline-block"});
                    $('#commonly_used_link_textarea').css({"visibility":"hidden"}); 
                    $('#cke_not_commonly_used_link_textarea').css({"visibility":"visible"});
                    $('#commonly_used_link_textarea').attr({"name":""});
                    $('#not_commonly_used_link_textarea').attr({"name":"content"});
                }
            });

            <%/*修改modal裡更改類別為常用連結時會把有有ckediter的textarea隱藏起來並顯示常用連結的textare，反之亦然*/%>
            $("#edit_type").change(function() {
                console.log("select"+$(this).find(':selected').text());
                if ($(this).find(':selected').text()=="常用連結"){
                    $('#commonly_used_link_label_in_edit_data').css({"display":"inline-block"});
                    $('#not_commonly_used_link_label_in_edit_data').css({"display":"none"});
                    $('#commonly_used_link_textarea_in_edit_data').css({"visibility":"visible"}); 
                    $('#cke_not_commonly_used_link_textarea_in_edit_data').css({"visibility":"hidden"});
                    $('#commonly_used_link_textarea_in_edit_data').attr({"name":"content"});
                    $('#not_commonly_used_link_textarea_in_edit_data').attr({"name":""});
                    //CKEDITOR.instances.editor1.document.getBody().getText()
                }else{
                    $('#commonly_used_link_label_in_edit_data').css({"display":"none"});
                    $('#not_commonly_used_link_label_in_edit_data').css({"display":"inline-block"});
                    $('#commonly_used_link_textarea_in_edit_data').css({"visibility":"hidden"}); 
                    $('#cke_not_commonly_used_link_textarea_in_edit_data').css({"visibility":"visible"});
                    $('#commonly_used_link_textarea_in_edit_data').attr({"name":""});
                    $('#not_commonly_used_link_textarea_in_edit_data').attr({"name":"content"});
                }
            });

            <%/*CKEDITOR*/%>
            CKEDITOR.replace('content',{
                filebrowserUploadUrl: '/uploader',
            });
            CKEDITOR.replace('Content',{
                filebrowserUploadUrl: '/uploader',
            });
            CKEDITOR.editorConfig = function (config){
              config.enterMode = CKEDITOR.ENTER_BR;
              config.autoParagraph = false;
            };
        <%}%>
    });

</script>