<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>

        <style>

/*ANIMATION*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/*ANIMATION*/

#menu{
    display: none;
}

.jumbotron{
    background-image: url("/game/gamebg.gif") ;
    background-size: contain;
    width:800px;
    height:600px;
    margin: 20px auto;
    position:relative;
}

#musicsrc{
    font-weight: bold;
    font-size: 15px;
    margin:0;
    bottom:0;
    left:260px;
    position: absolute;
    color:white;
    opacity: 0.5;
}

/*BUTTON*/

#mute{
    float:left;
    font-size: 40px;
}

#music{
    float:left;
    font-size: 40px;
    display: none;
}

.button{
    margin-top: 290px;
    width:150px;
    margin-left: 230px;
}

.button button{
    margin-top: 10px;
    width:200px;
    border:5px solid #003567;
    border-radius: 10px;
    background-color: #FFF799;
    font-weight: bold;
    font-size: 20px;
    position:relative;
}

#menubutton , #rankbutton{
    display: none;
}
/*BUTTON*/

/*RULES*/
#target{
    position: absolute;
    width:400px;
    height:auto;
    margin:auto;

}

#box{
    background-color: #7ECEF4;
    width: 410px;
    height:550px;
    position: absolute;
    margin-left:150px;
    border:5px solid #004986;
    border-radius:10px;
    display:none;
}

#cls{
    top:10px;
    right:10px;
    position: absolute;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    background-color: #004986;
}

#cls:hover{
    background-color: rgb(143,130,188);
}

#nxt{
    position: relative;
    top:480px;
    left:290px;
    background-image: url("/game/nxt.png") ;
    width: 90px;
    height: 46px;
    background-size: contain;
}

#nxt:hover{
    background-image: url("/game/nxt02.png") ;
}


#pre{
    position: absolute;
    top:480px;
    left:20px;
    background-image: url("/game/pre.png") ;
    width: 90px;
    height: 46px;
    background-size: contain;
}

#pre:hover{
    background-image: url("/game/pre02.png") ;
}
/*RULES*/

/*GAME*/
#game{
    height: 700px;
    display: none;
}

/*頭像*/
#row1{
    height: 180px;
    padding:0;
    margin-top: -15px;
}

#playerpic{
    left:35px;
    position: absolute;
}
#playerpic img{
    height:150px;
    width:150px;
    border-radius: 400px;
}

#pcpic{
    position: absolute;
    height:auto;
    width:auto;
    right:25px;

}
/*頭像*/

/*CLOCK*/
#countdown {
  position: relative;
  margin-left: 280px;
  margin-top: -10px;
  padding-top: 18px;
  padding-left: 35px;
  height: 140px;
  width: 140px;
  text-align: center;
  
}

.countdown-number {
    font-size: 40px;
  color: black;
  display: inline-block;
  line-height: 125px;
}

svg {
    position: absolute;
    top:0;
    left:0;
    width: 160px;
    height: 160px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 440px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 8px;
  stroke: #00479D;
  fill:none;
  animation: countdown 10s linear infinite forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 440px;
  }
}
/* Firefox < 16 */
@-moz-keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 440px;
  } { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 440px;
  }  { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 440px;
  }   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 440px;
  }
}
/*CLOCK*/

/*ROUND NO.*/
.round-number{
    margin-top: 20px;
    font-size: 25px;
    background-color: #FFF799;
    border:5px solid #00479D;
    border-radius: 10px;
    width:150px;
    margin-left: -30px;
}
/*ROUND NO.*/

/*POINT*/
#row2{
    margin-top: -20px;
}

#plyptn,#pcptn{
    padding-top:5px;
    border-radius: 10px;
    background-color: #FFF799;
    font-size: 30px;
    text-align: center;
    width: 120px;
    height:50px;
}

#plyptn{
    left:0;
}

#pcptn{
    left:460px;
}
/*POINT*/

/*Q*/
#row3{
    margin-top: 50px;
}

#question{
    height:350px;
    margin-left:70px;
    padding: 0px;
}

.Q{
    border:5px solid #003567;
    border-radius: 10px;
    width:400px;
    height:100px;
    background-color: #FFF799;
}

.Q p{
    text-align: left;
    margin:10px 20px;
}

.A button{
    border:5px solid #003567;
    border-radius: 10px;
    width:400px;
    margin-top: 10px;
    height:50px;
    background-color: #FFF799;
}

.A p{
    margin-top: 4px;
    margin-left:50px;
    margin-right:50px;
}
/*Q*/

/*HEALTH BAR*/

#bar1,#bar2 {
    border-radius:10px;
  border: 5px solid #FFF;
  background-color: #00479D;
  height: 300px;
  width:15px;
  margin-left:40px;
  margin-top: 50px;
}

#pchealth, #plyhealth{
    border-radius:3px;
    position :relative;
    background-color: #e4cf62;
    margin-left: -15px;
    width:30px;
    animation:mymove 30s linear forwards;
    animation-play-state: paused;
    }

@keyframes mymove {
    0%   {height: 100%;}
    100% {height: 0%;}
}

#bar2 {
  margin-left:240px;
}

/*BAR*/

/*ANSWER*/
.glyphicon.glyphicon-ok,.glyphicon.glyphicon-remove  {
    font-size: 40px;
    color:red green;
    display: none;
}

.glyphicon.glyphicon-ok { 
    color:green;
}

.glyphicon.glyphicon-remove { 
    color:red;
}
/*ANSWER*/

/*SCORE*/
#vs{
    display: none;
}
#vs p{
    margin-left: 300px;
    color:#FFF;
    font-weight: bold;
    font-size: 50px;
    padding-top: 50px;
}

#score{
    display: none;
    background-image: url("/game/結算一_2.png") ;
    width: 790px;
    height: 403px;
    background-size: contain;
    margin-left:-55px;
    bottom:5px;
}

#score p{
    font-size: 25px;
    font-weight: bold;
}

#total01{ /*總共答對題數 player & pc*/ 
    margin-top: 30px;
    margin-left: -120px;
    text-align: center;
}

#total02{ /*總共答對題數 pc*/
    margin-top: 30px;
    margin-right:-120px;
    text-align: center;
}

#point01{ /*答對題數number plyer*/  
    margin-top: -10px;
    margin-left: 110px;
    position: absolute;
}

#point02{ /*答對題數number pc*/ 
    margin-top: -5px;
    margin-left:-150px;
    position: absolute;
}

#totalpnt01{ /*總分 plyer*/
    margin-top: -30px;
    position: absolute;
    margin-left: 205px;
}

#totalpnt02{ /*總分 pc*/ 
    margin-top: -30px;
    margin-left: -290px;
    position: absolute;
}

#bonus01{ /*連續答題 plyer*/ 
    text-align: center;
    margin-top: 190px;
    margin-left: -245px;
    width:110px;
    
}

#bonus02{ /*連續答題 pc*/ 
    text-align: center;
    margin-top: 70px;
    margin-left: 100px;
    width:110px;
}

#bonusptn01{ /*連續答題 number plyer*/
    margin-top: -10px;
    margin-left: 70px;
    position: absolute;
}

#bonusptn02{ /*連續答題 number pc*/ 
    margin-top: -10px;
    margin-left: -180px;
    position: absolute;
}

#totalbonus01{ /*連續答題加分 plyer*/
    margin-top: -40px;
    margin-left: 170px;
    position: absolute;
}

#totalbonus02{ /*連續答題加分 pc*/
    margin-top: -35px;
    margin-left: -310px;
    position: absolute;
}

.gend{
    margin-top: 60px;
    margin-left: 320px;
    background-color: #004986;
    color:white;
    width:150px;
    border-radius: 5px;
    font-size: 20px;
}

.gend:hover{
    background-color: rgb(143,130,188);
}

/*SCORE*/

/*GAMEOVER*/
#userscore{
    display: none;
    background-image: url("/game/結算三.png") ;
    background-size: contain;
    width:700px;
    height:494px;
}

#last{
    margin-top: 220px;
    margin-left: 130px;
    height: 150px;
    width: 150px;
    border-radius: 500px;
}

#userpoint{
    height:50px;
    width:250px;
    margin-top: 60px;
    margin-left: 380px;
    font-size: 20px;
    color:#004986;
} 

#username{
    height:50px;
    width:200px;
    margin-top: -210px;
    margin-left: 360px;
    font-size: 20px;
    font-weight: bold;
    color:#004986;
    text-transform: uppercase;
    text-align: center;
}

#userscore button{
    margin-top: 200px;
    margin-left: 250px;
    background-color: #004986;
    color:white;
    width:150px;
    border-radius: 5px;
    font-size: 20px;
}
#userscore button:hover{
    background-color: rgb(143,130,188);
}
/*GAMEOVER*/

/*RANK*/
#rank01{
    border:10px solid #004986;
    background-color: #7ECEF4;
    border-radius:5px;
    position: absolute;
}

table#table{
    width:575px;
    margin-left:3px;
}

th{
    text-align: center;
}

tr{
    color:white;
    border:10px solid #7ECEF4;
    height:50px;
    text-align:center;
    font-size: 20px;
}

tr:nth-child(even) {background: #448aca}
tr:nth-child(odd) {background: #0075a9}

.end{
    font-weight:bold;
    background-color: #004986;
    color:white;
    margin-bottom:10px;
    margin-left:250px;
    border-radius: 5px;
    font-size: 20px;
}

.end:hover{
    background-color: rgb(143,130,188);
}
/*RANK*/

/*PERSONAL SCORE*/

#score01{
    border:10px solid #004986;
    background-color: #7ECEF4;
    border-radius:5px;
    position: absolute;
}

#plypic{
    background-color: #8c97cb;
    width:553px;
    height:100px;
    margin: 10px;
    padding-left: 80px;
}

#plypic img{
    width: 100px;
    height: 100px;
    float: left;
    margin-right:10px;
}

#plypic p{
    font-size: 30px;
    margin-left: 100px;
    font-weight: bold;
}

#score_final{
    background-color: #8c97cb;
    background-image: url(/game/積分背景.png);
    background-size: contain;
    width:553px;
    height:255px;
    margin: 10px;
}

#score_final p{
    color: white;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    padding-top: 80px;
}
/*PERSONAL SCORE*/

</style>


    </header>

    <main>
      <div class="container" >


        <div class="jumbotron" id="menu">

        <!--audio-->
        <audio id="bgm" loop="loop"><source src="/game/bensound-littleidea.mp3" type="audio/mpeg"></audio>
        <audio id="bingo"><source src="/game/correct.mp3" type="audio/mpeg"></audio>
        <audio id="ding"><source src="/game/wrong.mp3" type="audio/mpeg"></audio>
        <audio id="gamestart" loop="loop"><source src="/game/bensound-funkyelement.mp3" type="audio/mpeg"></audio>
        <audio id="gameend"><source src="/game/bensound-ukulele.mp3" type="audio/mpeg"></audio>
        <!--audio-->

            <!--BUTTON-->

                <!--MAIN MENU-->
                <div>
                <span class="glyphicon glyphicon-volume-off" onclick="mute()" id="mute"></span>
                <span class="glyphicon glyphicon-music" onclick="musicon()" id="music"></span>
                </div>

                <div class="button" id="menubutton">
                    <button type="button" onclick="start()">遊戲開始</button>
                    <button type="button" onclick="rules()">遊戲說明</button>
                    <button type="button" onclick="m2()">個人積分及排行榜</button>
                </div>

                <div class="button" id="rankbutton">    
                    <button type="button" data-toggle="modal" data-target="#personal_score">個人積分</button>
                    <button type="button" data-toggle="modal" data-target="#rank">排行榜</button>
                    <button type="button" onclick="back()">返回</button>
                </div>

                <p id="musicsrc"> Music: http://www.bensound.com</p>
                <!--MAIN MENU-->

                <!--BUTTON for RULES-->
                <div id="box">
                    <img id="target" alt="rules"/>
                    <button type="button" id="cls" onclick="cloSe()">X </button>
                    <button type="button" id="nxt" onclick="nextPic()" ></button>
                    <button type="button" id="pre" onclick="prePic()"></button>
                    
                </div>
                <!--BUTTON for RULES-->

            <!--BUTTON-->

            <!--GAME-->
            <div id="game">
                
                <div id="row1"> <!--player pic and clock and pc pic-->
                    <!--Player-->
                    <div class="col-xs-4" id="playerpic"><img src="/personal/profile/<%= user.local.img %>" alt="player"></div>
                    <!--Player-->

                    <div class="col-xs-4" id="vs"><p>V.S.</p></div>

                    <!--CLOCK & ROUND NO.-->
                    <div class="col-xs-4" id="countdown">
                        <div class="countdown-number"></div>
                        <svg>
                        <circle r="69.85699" cx="81" cy="81"></circle>
                        </svg>
                        <div class="round-number"></div>
                    </div>
                    <!--CLOCK & ROUND NO.-->

                    <!--PC-->
                    <div class="col-xs-4" id="pcpic"><img src="/game/pc.png" alt="pc"></div>
                    <!--PC-->
                </div>


                <!--POINT-->
                <div id="row2">
                    <div class="col-xs-4" id="plyptn"></div>
                    <div class="col-xs-4" id="pcptn"></div>
                </div>
                <!--POINT-->
                
                <!--Point BAR-->
                <div id="row3"> <!--health bar & QnA-->
            
                    <div class="col-xs-4" id="bar1">
                        <div id="plyhealth"></div>
                    </div>
                <!--Point BAR-->

                <!--Q&A-->
                    <div class="col-xs-4" id="question">
                        <div class="Q" ><p id="q"></p></div>
                        <div class="A" >
                            <div><button type="button" onclick="answer1()">
                                    <span class="glyphicon glyphicon-ok" id="correct01"></span>
                                    <span class="glyphicon glyphicon-remove" id="wrong01"></span>
                                    <span class="glyphicon glyphicon-ok" id="correct001"></span>
                                    <span class="glyphicon glyphicon-remove" id="wrong001"></span>
                                    <p id="ans1"></p>
                                    </button>
                            </div>
                            <div><button type="button" onclick="answer2()">
                                    <span class="glyphicon glyphicon-ok" id="correct02"></span>
                                    <span class="glyphicon glyphicon-remove" id="wrong02"></span>
                                    <span class="glyphicon glyphicon-ok" id="correct002"></span>
                                    <span class="glyphicon glyphicon-remove" id="wrong002"></span>
                                    <p id="ans2"></p>
                                    </button>
                            </div>
                            <div><button type="button" onclick="answer3()">
                                    <span class="glyphicon glyphicon-ok" id="correct03"></span>
                                    <span class="glyphicon glyphicon-remove" id="wrong03"></span>
                                    <span class="glyphicon glyphicon-ok" id="correct003"></span>
                                    <span class="glyphicon glyphicon-remove" id="wrong003"></span>
                                    <p id="ans3"></p>   
                                    </button>
                            </div>
                            <div><button type="button" onclick="answer4()">
                                    <span class="glyphicon glyphicon-ok" id="correct04"></span>
                                    <span class="glyphicon glyphicon-remove" id="wrong04"></span>
                                    <span class="glyphicon glyphicon-ok" id="correct004"></span>
                                    <span class="glyphicon glyphicon-remove" id="wrong004"></span>
                                    <p id="ans4"></p>
                                </button>
                            </div>
                        </div>
                    </div>
                <!--Q&A-->

                <!--Point BAR-->
                    <div class="col-xs-4" id="bar2">
                        <div id="pchealth"></div>
                    </div>
                <!--Point BAR-->
                </div><!--ROW3 END-->
                

                <!--GETSCORE-->
                <div id="score">
                    
                        <div class="col-xs-4" id="plytotal"></div>
                        <div class="col-xs-4" id="plybonus"></div>
                    
                        <div class="col-xs-4" id="pctotal"></div>
                        <div class="col-xs-4" id="pcbonus"></div>
                   
                    <button type="button" class="gend" id="end01">NEXT</button>
                    <button type="button" class="gend" id="end02">NEXT</button>
                </div>

                 <div id="userscore">
                    <img src="/personal/profile/<%= user.local.img %>" alt="player" id="last">
                    <div id="username"><%=user.local.name%></div>
                    <div id="userpoint"></div>
                    <button type="button" onclick="self.location.href='/smallgame'" >返回遊戲主頁</button>
                </div>
                <!--GETSCORE-->

            </div>
            <!--GAMEEND-->

            <!--RANK-->
            <div class="modal fade" id="rank" role="dialog">
            <div class="modal-dialog" >
                <div class="modal-content" id="rank01">
                        <h2 class="modal-title" align="center" style="font-weight:bold;margin-top: 8px;">總積分榜TOP10</h1>
                        <table id="table">
                            <tr>
                                <th>#</th>
                                <th>玩家名稱</th> 
                                <th>總積分</th>
                            </tr>
                            <%for(var i in result){%>
                            <tr>
                                <td><%=rank[i]%></td>
                                <td><%=result[i].name%></td> 
                                <td><%=result[i].score%></td>
                            </tr>
                            <%}%>
                            <%if(result.length<11){  
                                for(var i=result.length+1;i<11;i++){%> <!--if dont have top 10 then blank-->
                                <tr>
                                <td><%=i%></td>
                                <td></td> 
                                <td></td>
                                </tr>
                            <%}}%>
                        </table>
                    <button type="button" data-dismiss="modal" class="end">CLOSE</button>
                </div>
            </div>
            </div>
            <!--RANK-->

            <!--PERSONAL SCORE-->
            <div class="modal fade" id="personal_score" role="dialog">
                <div class="modal-dialog" >
                    <div class="modal-content" id="score01">
                        <div id="plypic">
                            <img class="img-thumbnail" src="/personal/profile/<%= user.local.img %>">
                            <p>姓名: <%=user.local.name%>
                            <br>目前總共<%if(player==0){%>0<%}else{%><%=player.score%><%}%>個積分</p>
                        </div>
                        <div id="score_final"><p><%if(player==0){%>0<%}else{%><%=player.score%><%}%></p></div>
                        <button type="button" data-dismiss="modal" class="end">CLOSE</button>
                    </div>
                </div>
            </div>
            <!--PERSONAL SCORE-->

        </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include ../layouts/js %>
        <% include js %>

</body>
</html>



