<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main class="container" style="position:center;">
    
        <div class="jumbotron row" style="overflow:auto; background-color: #00BFFF !important;">
            <div class="col-md-6" style="padding-left:50px; padding-right:50px;">
                <h1 style="font-family:Microsoft JhengHei; color:white;">個人專區</h1>
                
                <div style="float:left;">
                    <p style="margin: 70px 0 0 20px;">
                        <% if(user) { %>
                        姓名: <%=user.local.name%>
                        <% } %>
                    </p>
                    <p style="margin: 25px 0 0 20px;">
                        <% if(user) { %>
                        身份: <%=user.local.accountType%>
                        <% } %>
                    </p>
                </div>
                
                <div style="width:200px; margin-left:220px">
                    <span id="img_title" style="margin-left:33px;"><font size="6">大頭貼</font></span>
                    <div id="profile" style="width:150px; height:150px; margin-left:6px;">

                        <img class="img-thumbnail" id="img" style="width:150px; height:150px;" src="/personal/profile/<%= user.local.img %>">
                        
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                            
                                <!-- Modal content-->
                                <div class="modal-content">
                                
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">上傳此照片當大頭貼？</h4>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <img id="img2" style="max-width: 250px; max-height: 100px;">
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-default" onclick="uploadPhoto()" data-dismiss="modal">沒錯</button>
                                        <button type="button" class="btn btn-default" onclick="cancelUpload()" data-dismiss="modal">反悔了</button>
                                    </div>
                                    
                                </div>
                            
                            </div>
                        </div>
                        <!--////////-->

                    </div>

                    <form enctype="multipart/form-data" action="/personal/uploadProfile/<%= user._id %>" method="post">
                        <div class="form-group">
                            <label for="input_img">上傳圖片:</label>
                            <input name="input_img" type="file" class="imgInp" >
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">確定</button>
                        </div>
                    </form>

                    <!--<input accept="image/*" id="uploadImage" type="file" style="margin-top:10px;">-->

                </div>

                <a href="/smallgame" style="float:left margin-top:-20px;">
                    <img class="mySlides" src="/personal/action0.png" onmouseenter="moveIn();">
                    <img class="mySlides" src="/personal/action1.png" style="display: none;">
                    <img class="mySlides" src="/personal/action2.png" style="display: none;">
                    <img class="mySlides" src="/personal/action3.png" style="display: none;">
                    <img class="mySlides" src="/personal/action4.png" style="display: none;">
                    <img class="mySlides" src="/personal/action5.png" style="display: none;">
                </a>
                <!--<h2 style="font-size:320%; margin:25px 0px 0px 15px;">小遊戲GOGO</h2>-->

            </div>
            
            <div class="col-md-6" id="Q-A">
                <h2><u>Q&A幫您解答</u></h2>

                <div class="well" style="width: 100%; max-height: 500px; overflow-y: scroll; text-align: center; float: left;">
                    <div class="table-responsive">          
                        <table class="table table-hover" id="ta">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>類別</th>
                                    <th>日期</th>
                                    <th>標題</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-toggle="modal" data-target="#QA-Modal" class="openModal">
                                    <td>1</td>
                                    <td>大便</td>
                                    <td>7/4</td>
                                    <td>到處都有廁所嗎</td>
                                </tr>
                                <tr data-toggle="modal" data-target="#QA-Modal" class="openModal">
                                    <td>2</td>
                                    <td>吃飯</td>
                                    <td>7/7</td>
                                    <td>聽說中央都吃大便，是真的嗎？</td>
                                </tr>
                                <tr data-toggle="modal" data-target="#QA-Modal" class="openModal">
                                    <td>3</td>
                                    <td>隨便</td>
                                    <td>7/10</td>
                                    <td>wwwwww</td>
                                </tr>

                                <% for(var i=0; i<5; i++) { %>
                                    <% var index = i + 4 %>
                                    <tr data-toggle="modal" data-target="#QA-Modal" class="openModal">
                                        <td> <%= index %> </td>
                                        <td>test</td>
                                        <td>7/14</td>
                                        <td>kkkkkkk</td>
                                    </tr>
                                <% } %>

                            </tbody>
                        </table>
                        
                    </div>
                    
                    <!--/////////  Q&A Modal Setting  //////////-->
                    <div class="modal fade" id="QA-Modal" role="dialog">
                        <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                            
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title" id="tt"></h3>
                                </div>
                                
                                <div id="qesField" class="modal-body">blahblahblahblah~~</div>
                                <div id="ansField" class="modal-body"></div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                    <!--/////////  Q&A Modal Setting  //////////-->
                </div>
            </div>

        </div>
        </div>

        

    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>

<style>

    h2 {
        font-family:Microsoft JhengHei; 
        color:white;
    }

    .table-hover tbody tr:hover td {
        background-color: #a9b4c6;
    }

    .mySlides {
        width: 260px; 
        height: 260px;
    }

</style>