<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-image: url('BACK.jpg'); background-size: 30% 40%; background-repeat: repeat;">

        <div class="container" style="margin-top: 50px;">
            <!--資料區-->
            <div class="col-md-6" style="padding-left:50px; padding-right:50px;">

                <img src="/personal/個人專區.png" style="width:300px; height:100px;">

                <!-- 姓名&身份 -->
                <div style="float:left;">
                    <p style="margin: 70px 0 0 20px; font-size: 30px; font-family: Cursive; color: white;">
                        <% if(user) { %>
                        <img src="/personal/name.png" style="width:110px; height:65px;">: <%= user.local.name %>
                        <% } %>
                    </p>
                    <p style="margin: 25px 0 0 20px; font-size: 30px; font-family: Cursive; color: white;">
                        <% if(user) { %>
                        <img src="/personal/身份.png" style="width:110px; height:65px;">: <%= user.local.accountType %>
                        <% } %>
                    </p>
                </div>

                <!-- 姓名&身份 -->

                <!-- 大頭貼區塊 -->
                <div style="width:200px; margin-left:300px">
                    <img src="/personal/大頭貼.png" style="width:110px; height:55px; margin-left:27px;">
                    <div id="profile" style="width:150px; height:150px; margin-left:6px;">

                        <img class="img-thumbnail" id="img" style="width:150px; height:150px;" src="/personal/profile/<%= user.local.img %>">
                        
                        <!-- UploadImage Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <form enctype="multipart/form-data" action="/personal/uploadProfile/<%= user._id %>" method="post">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">選擇上傳圖片</h4>
                                        </div>

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="input_img">預覽圖片:</label>
                                                <img class="img-thumbnail" id="imgPreview" 
                                                    style="width: 150px; height: 150px;" src="/personal/noImg.png">
                                                <input class="imgView" id="test" name="input_img" accept="image/*" type="file" style="margin-top:20px;">
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-default">就是它!</button>
                                            <button type="button" class="btn btn-default" onclick="cancelUpload()" data-dismiss="modal">反悔了</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- UploadImage Modal -->

                    </div>

                    <span class="btn btn-default" onclick="$('#myModal').modal('show');">
                        <i class="fa fa-file" aria-hidden="true"></i> 上傳大頭貼
                    </span>
                    
                </div>
                <!-- 大頭貼區塊 -->

                <!-- 小遊戲圖片 -->
                <a href="/smallgame" style="float:left; margin-left: 70px;">
                    <img class="mySlides" src="/personal/action0.png" onmouseenter="moveIn();">
                    <img class="mySlides" src="/personal/action1.png" style="display: none;">
                    <img class="mySlides" src="/personal/action2.png" style="display: none;">
                    <img class="mySlides" src="/personal/action3.png" style="display: none;">
                    <img class="mySlides" src="/personal/action4.png" style="display: none;">
                    <img class="mySlides" src="/personal/action5.png" style="display: none;">
                </a>
                <!-- 小遊戲圖片 -->
            </div>
            <!-- 資料區 -->
            <!-- Q&A區 -->
            <div class="col-md-6" id="Q-A">
                <img src="/personal/qna.png" style="width:200px; height:80px;">
                <!-- 問題表單 -->
                <div class="well" style="width: 450px; height: 400px; overflow-y: scroll; 
                    background: rgba(204, 229, 255, 0.8); float: left; margin-top: 10px;">
                    <div class="table-responsive">          
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>類別</th>
                                    <th>日期</th>
                                    <th>標題</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% for(var i=0; i< 10; i++) { %>
                                    <% var index = i + 1 %>
                                    <tr data-toggle="modal" data-target="#QA-Modal" class="openModal">
                                        <td> <%= index %> </td>
                                        <td>test</td>
                                        <td>7/14</td>
                                        <td>kkkkkkk</td>
                                    </tr>
                                <% } %>

                            </tbody>
                        </table>
                        
                    </div>
                    
                    <!--/////////  Q&A Modal Setting  //////////-->
                    <div class="modal fade" id="QA-Modal" role="dialog">
                        <div class="modal-dialog">
                        
                            <div class="modal-content">
                            
                                <div class="modal-header" style="text-align: center;">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title" id="tt"></h3>
                                </div>
                                
                                <div class="modal-body">
	                                <div id="qesField" class="modal-body">blahblahblahblah~~</div>
	                                <div id="ansField" class="modal-body"></div>
                                </div>
                                
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                    <!--/////////  Q&A Modal Setting  //////////-->

                </div>
                <!-- 問題表單 -->
            </div>
            <!-- Q&A區 -->
        </div>
                    
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>

<style>

    .jumbotron h1, h2 {
        font-family: Cursive;
        color: white;
    }

    .table-hover tbody tr:hover td {
        background-color: #a9b4c6;
    }

    .mySlides {
        width: 180px; 
        height: 180px;
    }

</style>