<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <link rel="stylesheet" type="text/css" href="stylesheets/main/elastislide.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main/gallery.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main/timeline.css" />
    <style>
      /*切版*/
      .imgGall{
        padding: 0px;

      }

      .news,.calendar,.dj{
        /*background-color: #000;*/
        padding: 0px;
      }
      .calendar{
        background-color: #acccfc;
      }
      .news-word,.calendar-word{
        text-align: center;
      }
      .wrapper:before, .wrapper:after,footer:before{
  			background-repeat: no-repeat;
  			background-size: 100% 100%;
  			content: '';
  			display: block;
  			height: 6.5em;
  			/*position: absolute;*/
  			width: 100%;
  		}


      .news::before{
        background-color: #fff;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,100 100,0 0,0' style='fill:#4dc0c7' /%3E%3C/svg%3E");

      }
      .news::before{
        box-shadow: none;
      }
      .news::after{
        box-shadow: none;
      }
      .news-hr{
        border:0; height:3px;
        background-color:#4dc0c7;
	      color:#4dc0c7 /* IE6 */
      }
      .time-hr{
        border:0; height:3px;
        background-color:#fff;
	      color:#fff)/* IE6 */
      }

      .calendar::before{
        background-color: #fff;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,100 0,100 ' style='fill:#acccfc' /%3E%3C/svg%3E");
      }
      .calendar::before{
        box-shadow: none;
      }
      .calendar::after{
        box-shadow: none;
      }
      .dj::before{
        background-color: #acccfc;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,100 0,100 ' style='fill:#cedfe2' /%3E%3C/svg%3E");
      }

      .dj::before{
        box-shadow: none;
        box-shadow:  inset 0 -1px 0 0 #cedfe2, 0 1px 0 0 #cedfe2;
      }
      .dj::after{
        box-shadow: inset 0 -1px 1 0 #55454b, 0 1px 1 0 #55454b;
      }
      footer::before{
        padding: 0px;
        background-color: #55454b;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon points='0,0 100,100 0,100 ' style='fill:#4dc0c7' /%3E%3C/svg%3E");
      }
      footer::before{
        box-shadow: none;
      }
      .navbar{
        box-shadow: none;
      }
      /*公告區的style*/
      .list-group{
        height: 500px;
        overflow-y: scroll;
      }
      .w-100{
        width: 100%!important;
      }
      .d-flex {
          display: -webkit-box!important;
          display: -webkit-flex!important;
          display: -ms-flexbox!important;
          display: flex!important;
      }
      .justify-content-between {
          -webkit-box-pack: justify!important;
          -webkit-justify-content: space-between!important;
          -ms-flex-pack: justify!important;
          justify-content: space-between!important;
      }
      .news_ul:hover{
        background-color: aliceblue;
      }
      /*照片gallery*/
      /* Slideshow container */
      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }

      .mySlides {
          display: none;
      }

      /* Next & previous buttons */
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }

      /* Caption text */
      .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }

      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }

      /* The dots/bullets/indicators */
      .dot {
        cursor:pointer;
        height: 13px;
        width: 13px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active, .dot:hover {
        background-color: #717171;
      }


      /*top btn*/
      #topBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        /*background-color: red; /* Set a background color */*/
        /*color: white; /* Text color */*/
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        /*border-radius: 10px; /* Rounded corners */*/
      }

      .gal:hover{
        background-color: rgba(255, 255, 255, 0.1);
        opacity: 0.2;
        filter: alpha(opacity=20); /* For IE8 and earlier */
        /*background-image: url();*/
      }
      .galspan{
        position:absolute;
        font-size: 50px;
        left: 18%;
        top: 5%;
        z-index:-1;
        text-align: center;
      }
      .dj{
        height: 1180px;
        position: relative;
        background-image: url("/images/main/djbg-2.png");
        background-repeat: no-repeat;
        background-color: #55454b;
        background-position: 100% 50%;
      }

      .dj-word{
        position: absolute;
        left: 20%;
        top: 20%;
        width: 15%;
      }
      @media (max-width: 991px) {
        h1{
          font-size: 70px;
        }
        h4{
          font-size: 30px
        }
        a{
          font-size: 20px;
        }
        p{
          font-size: 30px !important;
        }
      }

    </style>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <main>
        <div class="">

            <div class="imgGall container-fluid gallery ">
              <!-- Elastislide Carousel -->
    					<ul id="carousel" class="elastislide-list">
                <% galimgs.forEach(function(galimg){ %>
                  <%
                    var date = galimg.up_date;
                    var str =  + (date.getMonth()+1) + '/' +  (date.getDate());
                  %>
                  <li style="position:relative"><%if(date>new Date()){%><span class="galspan"><%=str%><br>上映</span><%}else{%><span class="galspan">現已<br>上映</span><%}%><a  class="gal" href="<%= galimg.videourl %>"><img src="/images/main/galimg/<%= galimg.imgurl %>" alt="<%= galimg.name %>" /></a></li>
                <% }); %>

    					</ul>
    					<!-- End Elastislide Carousel -->
            </div>
            <div class="news container-fluid wrapper">
              <div class="news-word">
                <h1><strong>最新消息</strong></h1>
                <h4>我  們  將  會  定  期  更  新  最  新  資  訊！</h4>
                <hr class="news-hr" width="10%">
              </div>
              <div class="row">
                <div class="news-table col-md-5 col-md-offset-1">
                  <div class="list-group">
                    <% main_news_top.forEach(function(main_new_top){ %>
                      <ul class="news_ul list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#news_<%= main_new_top.id %>">
                        <li class="d-flex w-100 justify-content-between">
                          <h3 class="mb-1"><i class="fa fa-bullhorn" aria-hidden="true"></i> <%= main_new_top.title %></h3>
                          <small class="text-muted"><%= main_new_top.date %></small>
                        </li>
                        <p class="mb-1"><%= main_new_top.subtitle %>...</p>
                      </ul>
                      <div id="news_<%= main_new_top.id %>" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">

                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h2 class="modal-title"><%= main_new_top.title %></h2>
                            </div>
                            <div class="modal-body">
                                <%- main_new_top.content %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }); %>
                    <% main_news.forEach(function(main_new){ %>
                      <ul class="news_ul list-group-item list-group-item-action flex-column align-items-start" data-toggle="modal" data-target="#news_<%= main_new.id %>">
                        <li class="d-flex w-100 justify-content-between">
                          <h3 class="mb-1"><%= main_new.title %></h3>
                          <small class="text-muted"><%= main_new.date %></small>
                        </li>
                        <p class="mb-1"><%= main_new.subtitle %>...</p>
                      </ul>
                      <div id="news_<%= main_new.id %>" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg">

                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h2 class="modal-title"><%= main_new.title %></h2>
                            </div>
                            <div class="modal-body">
                                <%- main_new.content %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }); %>


                  </div>
                </div>
                <div class="col-md-5">

                  <div class="slideshow-container">
                    <% for(var i=1; i<=newsimgs.length; i++) {%>
                      <div class="mySlides">
                        <div class="numbertext"><%=i%> / <%=newsimgs.length%></div>
                        <img src="/images/main/newsimg/<%= newsimgs[i-1].imgurl %>" style="width:100%">
                      </div>
                    <% } %>


                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                  </div>
                  <br>

                  <div style="text-align:center">
                    <% for(var i=1; i<=newsimgs.length; i++) {%>
                      <span class="dot" onclick="currentSlide(<%=i%>)"></span>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <div class="calendar container-fluid wrapper">
              <div class="calendar-word">
                <h1><strong>近期重要時程</strong></h1>
                <h4>我  們  將  會  隨  時  提  醒  你  重  要  時  程！</h4>
                <hr class="time-hr" width="10%">
              </div>
              <div class="timeline">
                <section class="cd-horizontal-timeline">
                	<div class="timeline">
                		<div class="events-wrapper">
                			<div class="events">
                				<ol>
                          <% for(var i=0; i<main_events.length; i++) {%>
                            <%
                              var date = new Date(main_events[i].date);
                              var str = (date.getDate()) + '/' +(date.getMonth()+1) + '/' +  date.getFullYear();
                              var listr = (date.getMonth()+1)+"/"+(date.getDate())
                            %>
                                 <li><a href="#0" data-date="<%=str%>" data-toggle="tooltip" title="<%=main_events[i].subtitle%>" data-placement="bottom" class="<%if(i===(main_events.length-1)){%>selected<%}%>"><%=listr%></a></li>
                          <% } %>

                        </ol>

                				<span class="filling-line" aria-hidden="true"></span>
                			</div> <!-- .events -->
                		</div> <!-- .events-wrapper -->

                		<ul class="cd-timeline-navigation">
                			<li><a href="#0" class="prev inactive">pre</a></li>
                			<li><a href="#0" class="next">next</a></li>
                		</ul> <!-- .cd-timeline-navigation -->
                	</div> <!-- .timeline -->

                	<div class="events-content">
                		<ol>

                      <% for(var i=0; i<main_events.length; i++) {%>
                        <%
                          var date = new Date(main_events[i].date);
                          var str = (date.getDate()) + '/'+(date.getMonth()+1) + '/' +  date.getFullYear();
                        %>
                        <li data-date="<%=str%>" class="<%if(i===(main_events.length-1)){%>selected<%}%>">

                          <h2><%=main_events[i].title%></h2>
                          <em><%=main_events[i].date%></em>
                          <p>
                            <%=main_events[i].content%>
                          </p>
                        </li>
                      <% } %>

                      </ol>
                	</div> <!-- .events-content -->
                </section>
              </div>
            </div>
            <div class="dj container-fluid wrapper">
              <div class="djbg">
                <img class="dj-word" src="/images/main/djlogo.jpg" alt="">
              </div>
            </div>
            <img src="images/main/top.png" onclick="topFunction()" id="topBtn" alt="">
            <% if(user&&user.local.accountType==='admin'){%>
            <a href="/manageMain"><i class="fa fa-cogs" aria-hidden="true"></i> 管理首頁</a>
            <% } %>
        </div>




    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
        <script type="text/javascript" src="javascript/main/modernizr.custom.17475.js"></script>
        <script type="text/javascript" src="javascript/main/jquery.elastislide.js"></script>
        <script type="text/javascript" src="javascript/main/modernizr.js"></script>
        <script type="text/javascript" src="javascript/main/timeline.js"></script>
        <script type="text/javascript">
    			$( '#carousel' ).elastislide( {
    				minItems : 2
    			} );
          var slideIndex = 1;
          showSlides(slideIndex);

          function plusSlides(n) {
            showSlides(slideIndex += n);
          }

          function currentSlide(n) {
            showSlides(slideIndex = n);
          }

          function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
          }
          window.onscroll = function() {scrollFunction()};

          function scrollFunction() {
              if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  document.getElementById("topBtn").style.display = "block";
              } else {
                  document.getElementById("topBtn").style.display = "none";
              }
          }

          // When the user clicks on the button, scroll to the top of the document
          function topFunction() {
              document.body.scrollTop = 0; // For Chrome, Safari and Opera
              document.documentElement.scrollTop = 0; // For IE and Firefox
          }
          $(function(){
            $('[data-toggle="tooltip"]').tooltip();
          })
    		</script>

</body>
</html>
