<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <%//新增model%>
        <div class="modal fade" id="add_model" role="dialog">
            <div class="modal-dialog modal-lg">
                <%//Modal content%>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">新增</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/aboutweb/add" method="post" accept-charset="utf-8">

                            <div class='form-group'>
                                <label for="name">在這裡輸入名稱</label>
                                <input name="name" type="text" value=""></input><br>
                            </div>

                            <div class='form-group'>
                                <label for="content">在這裡輸入路由</label>
                                <input name="content" type="text" value="/"></input><br>
                            </div>

                            <div class="form-group">
                                <label for="type" class="control-label">類別</label>
                                <select name="type" id="type" class="form-control">
                                    <option value="六角形">六角形</option>
                                    <option value="方形">方形</option>
                                    <option value="橢圓">橢圓</option>
                                    <option selected="" value="">請選擇</option>
                                </select>
                            </div>
                            <button type="submit" name="button" class="btn btn-primary">送出</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    <%//編輯model%>
        <div class="modal fade" id="edit_model" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="mapObj_title">編輯物件</h4>
                    </div>
                    <div class="modal-body">
                        
                        <form action="/campus/newMapObj" method="post" accept-charset="utf-8">

                            <div class='form-group'>
                                <label for="x"><p>X座標</p></label>
                                <input type="text" name="x_position" id="x-position" value=0>
                            </div>

                            <div class='form-group'>
                                <label for="y-position"><p>Y座標</p></label>
                                <input type="text" name="y_position" id="y-position" value=0>
                            </div>

                            <div class='form-group'>
                                <label for="size"><p>Size</p></label>
                                <input type="text" name="size" id="size" value=0>
                            </div>

                            <div class='form-group'>
                                <label for="link"><p>link</p></label>
                                <input type="text" name="link" id="link" value=0>
                            </div>

                            <div style="height: 83vw;position:relative;margin-top: 5vh; margin-bottom: 5vw; margin-left: 5vw; margin-right: 5vw;">
                                <img src="/aboutweb/線.png" id="underlay" style="position:absolute; width: 100%; top:10%; left:0%;">
                                <img src="" id="the_image" style="position:absolute;cursor: move;">
                            </div>

                            <button type="submit" name="button" value="edit" class="btn btn-primary" >送出</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    <main style="position:relative; background-image: url(/aboutweb/網頁背景.png); background-repeat: repeat; background-size: contain;background-size: 25%;">
        <div style="height: 83vw;position:relative;margin-top: 5vh; margin-bottom: 5vw; margin-left: 5vw; margin-right: 5vw;">
            <img src="/aboutweb/線.png" style="position:absolute; width: 100%; top:10%; left:0%;">
            <% for (var i in aboutweb){%>
                <%if(aboutweb[i].type=="六角形"){%>
                    <img src="/aboutweb/六角形按鈕.png" class="edit" id="<%=aboutweb[i]._id%>" style="position:absolute; width: <%=aboutweb[i].size+"%"%>; top:<%=aboutweb[i].y+"%"%>; left: <%=aboutweb[i].x+"%"%>">
                <%}else if (aboutweb[i].type=="方形"){%>
                    <img src="/aboutweb/方形按鈕.png" class="edit" id="<%=aboutweb[i]._id%>" style="position:absolute; width: <%=aboutweb[i].size+"%"%>; top:<%=aboutweb[i].y+"%"%>; left: <%=aboutweb[i].x+"%"%>">
                <%}else if (aboutweb[i].type=="橢圓"){%>
                    <img src="/aboutweb/橢圓按鈕.png" class="edit" id="<%=aboutweb[i]._id%>" style="position:absolute; width: <%=aboutweb[i].size+"%"%>; top:<%=aboutweb[i].y+"%"%>; left: <%=aboutweb[i].x+"%"%>">
                <%}%>
            <%}%>
        </div>
    </main>

    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#add_model">新增</button>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% //include ../layouts/js %>
</body>
</html>
