<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <main>
        <div class="container">
          <br>
          <div class="jumbotron">
              <div class="container">

                <ul id="de_tabs" class="nav nav-tabs">
                  <li><a data-toggle="tab" href="#literature">文學院</a></li>
                  <li><a data-toggle="tab" href="#science">理學院</a></li>
                  <li><a data-toggle="tab" href="#engineering">工學院</a></li>
                  <li><a data-toggle="tab" href="#management">管理學院</a></li>
                  <li><a data-toggle="tab" href="#ceecs">資訊電機學院</a></li>
                  <li><a data-toggle="tab" href="#earth">地球科學學院</a></li>
                  <li><a data-toggle="tab" href="#hikka">客家學院</a></li>
                  <li><a data-toggle="tab" href="#chst">生醫理工學院</a></li>
                  <li><a data-toggle="tab" href="#space">太空及遙測學位中心</a></li>
                </ul>

                  <div class="tab-content">
                  <div id="literature" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">文學院</li>
                  </ul>
                    <h3 style="font-size:80px;">文學院</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="literature">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "literature"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="01文圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                  <div id="science" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">理學院</li>
                  </ul>
                    <h3 style="font-size:80px;">理學院</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="science">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "science"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="02理圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                  <div id="engineering" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">工學院</li>
                  </ul>
                    <h3 style="font-size:80px;">工學院</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="engineering">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "engineering"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="03工圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                  <div id="management" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">管理學院</li>
                  </ul>
                    <h3 style="font-size:80px;">管理學院</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="management">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "management"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="04管理圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                  <div id="ceecs" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">資訊電資學院</li>
                  </ul>
                    <h3 style="font-size:80px;">資訊電資學院</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="ceecs">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "ceecs"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="05資電圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                  <div id="earth" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">地球科學學院</li>
                  </ul>
                    <h3 style="font-size:80px;">地球科學學院</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="earth">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "earth"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="06地科圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                  <div id="hikka" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">客家學院</li>
                  </ul>
                    <h3 style="font-size:80px;">客家學院</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="hikka">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "hikka"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="07客家圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                  <div id="chst" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">生醫理工學院</li>
                  </ul>
                    <h3 style="font-size:80px;">生醫理工學院</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="chst">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "chst"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="08生醫圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                  <div id="space" class="tab-pane fade">
                  <ul class="breadcrumb">
                    <li><a href="/groups">系所社團</a> <span class="divider"></span></li>
                    <li><a href="/groups/department">系所</a> <span class="divider"></span></li>
                    <li class="active">太空及遙測學位中心</li>
                  </ul>
                    <h3 style="font-size:80px;">太空及遙測學位中心</h3>
                    <hr size="8px" align="center" width="100%">
                    <div class="row container" id="space">
                        <% for (var i in department){%>
                            <% if ( department[i].type == "space"){ %>
                                    <img data-toggle="modal" data-target="#<%- department[i].id%>" src="09太空中心圖標.png"/>
                                    <p><%= department[i].name %></p>
                                      <!-- Modal -->
                                      <div class="modal fade" id="<%=department[i].id%>" role="dialog">
                                        <div class="modal-dialog">
                                        <!-- Modal content-->
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                                              <h1 class="modal-title"><%= department[i].name %></h1>
                                            </div>
                                            <div class="modal-body">
                                              <p>系所介紹:<%= department[i].introduction %></p>
                                              <p>系學會:<%= department[i].organization %></p>
                                              <p>系所活動:<%= department[i].activity %></p>
                                              <p>系隊:<%= department[i].team %></p>
                                              <p>系上課程:<%= department[i].course %></p>
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                            <%}%>
                        <%}%>
                    </div>
                  </div>
                </div>
              </div>
              <input type='hidden' value='<%= firstClick%>' id="firstClick">
          </div>
        </div>

    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
    <script type="text/javascript">
      $(document).ready(function(){
        var one = $('#firstClick').val();
        console.log(one);
        $('#de_tabs a[href="#'+one+'"]').tab('show');
      })
    </script>
</body>
</html>
