<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        .cc2:hover{
             box-shadow: 0 0 1px 1px rgba(0,0,0,1);
        }
        .cc3:hover{
             padding: 10vh ;
        }
    </style>
    <% include ../layouts/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".cc").mouseenter(function(){
                $(this).animate({
                    padding:'0px'
                }, 200);
        });
        $(".cc").mouseleave(function(){
                $(this).animate({
                    padding:'2vh'
                }, 200);
        });
        $(".cc2").mouseenter(function(){
                $(this).animate({
                    padding:'1vh'
                }, 200);
        });
        $(".cc2").mouseleave(function(){
                $(this).animate({
                    padding:'6vh'
                }, 200);
        });
        $(".g1").click(function(){
            $("#videofood").html("")
        });
        $("#f1").click(function(){
            $("#videofood").html('<%- foodURL %>')
        });
        $(".g2").click(function(){
            $("#videohousing").html("")
        });
        $("#f2").click(function(){
            $("#videohousing").html('<%- housingURL %>')
        });
        $(".g3").click(function(){
            $("#videotransportation").html("")
        });
        $("#f3").click(function(){
            $("#videotransportation").html('<%- transportationURL %>')
        });
        $(".g4").click(function(){
            $("#videoeducation").html("")
        });
        $("#f4").click(function(){
            $("#videoeducation").html('<%- educationURL %>')
        });
        $(".g5").click(function(){
            $("#videoentertainment").html("")
        });
        $("#f5").click(function(){
            $("#videoentertainment").html('<%- entertainmentURL %>')
        });
        $(".l1").click(function(){
            $("#l1").html("")
        });
        $("#dr1").click(function(){
            $("#l1").html('<%- l1 %>')
        });
        $(".l2").click(function(){
            $("#l2").html("")
        });
        $("#dr2").click(function(){
            $("#l2").html('<%- l2 %>')
        });
        $(".l3").click(function(){
            $("#l3").html("")
        });
        $("#dr3").click(function(){
            $("#l3").html('<%- l3 %>')
        });
        $(".l4").click(function(){
            $("#l4").html("")
        });
        $("#dr4").click(function(){
            $("#l4").html('<%- l4 %>')
        });
        $(".l5").click(function(){
            $("#l5").html("")
        });
        $("#dr5").click(function(){
            $("#l5").html('<%- l5 %>')
        });
        $("#warn").click(function(){
            alert("記得一定要先試試看能不能開, 影音組的各位不要一直只想著放假 加油好嗎");
        });
        $("#slidedown").click(function(){
            console.log("ok");
            $('html,body').animate({
                scrollTop: $("#slidepoint").offset().top-50
            }, 1000);
        });
        return false;
    });
    </script>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style="background-image: url(/video/背景2.png);">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><img src=""/></div>
                <div class="col-md-4"><img style="max-width: 25vw" src="/video/生活區.png" id="gf" class="img-responsive"/></div>
                <div class="col-md-4"><img src=""/></div>
            </div>
            <div class="row">
                <div class="col-md-4"><img style="display:inline-block; padding: 6vh;" id="dr1" class="cc2 img-responsive" alt="長片" src="/video/video5.png"  data-toggle="modal" data-target="#a1" /></div>
                <div class="col-md-4"><img style="display:inline-block; padding: 6vh;" id="dr2" class="cc2 img-responsive" alt="長片" src="/video/video5.png"  data-toggle="modal" data-target="#a2" /></div>
                <div class="col-md-4"><img style="display:inline-block; padding: 6vh;" id="dr3" class="cc2 img-responsive" alt="長片" src="/video/video5.png"  data-toggle="modal" data-target="#a3" /></div>
            </div>
            <div class="row">
                <div class="col-md-4"><img style="display:inline-block; padding: 6vh;" id="dr4" class="cc2 img-responsive" alt="長片" src="/video/video5.png"  data-toggle="modal" data-target="#a4" /></div>
                <div class="col-md-4"><img style="display:inline-block; padding: 6vh;" id="dr5" class="cc2 img-responsive" alt="長片" src="/video/video5.png"  data-toggle="modal" data-target="#a5" /></div>
                <div class="col-md-4"><img style="display:inline-block; padding: 16vh;" id="slidedown" class="cc3 img-responsive" alt="箭頭" src="/video/箭頭.png" /></div>
            </div>


            <div class="row">
                <div class="col-md-4"><img src=""/></div>
                <div class="col-md-4"><img style="max-width: 25vw" src="/video/生活區.png" id="slidepoint" class="img-responsive"/></div>
                <div class="col-md-4"><img src=""/></div>
            </div>
            <div class="row">
                <div class="col-xs-12"><img src=""/></div>
            </div>
            <div class="row">
                <div class="col-xs-2"><img src=""/></div>
                <div class="col-xs-4"><img style="padding: 2vh;" src="/video/食.png" id="f1" class="img-responsive cc" alt="food" data-toggle="modal" data-target="#5"/></div>
                <div class="col-xs-4"><img style="padding: 2vh;" src="/video/住.png" id="f2" class="img-responsive cc" alt="housing" data-toggle="modal" data-target="#6"/></div>
            </div>

            <div class="row">
                <div class="col-xs-4"><img style="padding: 2vh;" src="/video/行.png" id="f3" class="img-responsive cc" alt="transportation" data-toggle="modal" data-target="#7"/></div>
                <div class="col-xs-4"><img style="padding: 2vh;" src="/video/育.png" id="f4" class="img-responsive cc" alt="education" data-toggle="modal" data-target="#8"/></div>
                <div class="col-xs-4"><img style="padding: 2vh;" src="/video/樂.png" id="f5" class="img-responsive cc" alt="entertainment" data-toggle="modal" data-target="#9"/></div>
            </div>
            <div class="row">
                <div class="col-xs-4"><img src="" class="img-responsive"/></div>
                <div class="col-xs-4"><img src="" class="img-responsive"/></div>
            </div>


            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#edit">加入影片</button>
            <!-- 修改排序model -->
            <div class="modal fade" id="edit" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">加入影片</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/video/add" method="post" accept-charset="utf-8">

                                <div class="form-group">
                                    <label for="type" class="control-label">選擇影片名稱</label>
                                    <select name="type" id="change_order_id" class="form-control">
                                        <option selected="not_commonly_used_link" value="l1">【長劇1】</option>
                                        <option selected="not_commonly_used_link" value="l2">【長劇2】</option>
                                        <option selected="not_commonly_used_link" value="l3">【長劇3】</option>
                                        <option selected="not_commonly_used_link" value="l4">【長劇4】</option>
                                        <option selected="not_commonly_used_link" value="l5">【長劇5】</option>
                                        <option selected="not_commonly_used_link" value="food">【中大生活-食】</option>
                                        <option selected="not_commonly_used_link" value="housing">【中大生活-住】</option>
                                        <option selected="not_commonly_used_link" value="transportation">【中大生活-行】</option>
                                        <option selected="not_commonly_used_link" value="education">【中大生活-育】</option>
                                        <option selected="not_commonly_used_link" value="entertainment">【中大生活-樂】</option>
                                        <option selected="" value="">請選擇</option>
                                    </select>
                                </div>

                                <div class='form-group'>
                                    <label id="not_commonly_used_link_label" style="display:inline-block;" for="content">請在Youtube影片下按分享 -> 嵌入 -> 複製整串編碼後貼上</label>
                                    <textarea id="textarea" name="content" rows="8" cols="80"></textarea><br>
                                </div>

                                <button type="submit" name="button" class="btn btn-primary" id="warn">< 加入影片 ></button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>


        <!-- Modal-->
            <div class="modal fade" id="5" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close g1" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【中大生活-食】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="videofood"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default g1" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        <!-- Modal -->
            <div class="modal fade" id="6" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close g2" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【中大生活-住】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="videohousing"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default g2" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        <!-- Modal -->
            <div class="modal fade" id="7" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close g3" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【中大生活-行】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="videotransportation"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default g3" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        <!-- Modal -->
            <div class="modal fade" id="8" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close g4" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【中大生活-育】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="videoeducation"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default g4" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        <!-- Modal -->
            <div class="modal fade" id="9" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close g5" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【中大生活-樂】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="videoentertainment"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default g5" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
        <!-- Modal -->
            <div class="modal fade" id="a1" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close l1" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【長劇1】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="l1"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default l1" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

        <!-- Modal -->
            <div class="modal fade" id="a2" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close l2" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【長劇2】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="l2"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default l2" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

        <!-- Modal -->
            <div class="modal fade" id="a3" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close l3" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【長劇3】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="l3"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default l3" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

        <!-- Modal -->
            <div class="modal fade" id="a4" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close l4" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【長劇4】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="l4"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default l4" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

        <!-- Modal -->
            <div class="modal fade" id="a5" role="dialog">
                <div class="modal-dialog">

        <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close l5" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">【長劇5】</h4>
                        </div>
                        <div class="modal-body">
                            <div id="l5"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default l5" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>




    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>

</body>
</html>
