<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $(".cc").mouseenter(function(){
                $(this).animate({
                    padding:'0px'
                }, 200);
        });
        $(".cc").mouseleave(function(){
                $(this).animate({
                    padding:'2vh'
                }, 200);
        });
        $(".g1").click(function(){
            $("#videofood").html("")
        });
        $("#f1").click(function(){
            $("#videofood").html('<%- foodURL %>')
        });
        $(".g2").click(function(){
            $("#videohousing").html("")
        });
        $("#f2").click(function(){
            $("#videohousing").html('<%- housingURL %>')
        });
        $(".g3").click(function(){
            $("#videotransportation").html("")
        });
        $("#f3").click(function(){
            $("#videotransportation").html('<%- transportationURL %>')
        });
        $(".g4").click(function(){
            $("#videoeducation").html("")
        });
        $("#f4").click(function(){
            $("#videoeducation").html('<%- educationURL %>')
        });
        $(".g5").click(function(){
            $("#videoentertainment").html("")
        });
        $("#f5").click(function(){
            $("#videoentertainment").html('<%- entertainmentURL %>')
        });
        $("#warn").click(function(){
            alert("記得一定要先試試看能不能開, 影音組的各位不要一直只想著放假 加油好嗎");
        });
    });
    </script>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main style=" background-color: #00BFFF !important; min-width: 100vw; max-width:100vw; padding-top: 10px">
      <div class="container">


    <div style="font-size: 1.2vw">
        <a href="/">首頁></a>
        <a href="/video">影音專區</a>
    </div>
    
        <div>
            <h1 class="text-center" style="font-size: 3vw"><strong>歡迎進入生活區</strong></h1>
        </div>
        <div class="col-xs-12"><img style="max-width: 1000px" src="/video/圖片3.png" class="img-responsive"/></div>
        <div class="row">
            <div class="col-xs-12"><img src=""/></div>
        </div>
        <div class="row">
            <div class="col-xs-2"><img src="" class="img-responsive" data-toggle="modal" data-target="#101"/></div>
            <div class="col-xs-4"><img style="padding: 2vh;" src="/video/圖片1.png" id="f1" class="img-responsive cc" alt="food" data-toggle="modal" data-target="#5"/></div>
            <div class="col-xs-4"><img style="padding: 2vh;" src="/video/圖片1.png" id="f2" class="img-responsive cc" alt="housing" data-toggle="modal" data-target="#6"/></div>
        </div>

        <div class="row">
            <div class="col-xs-4"><img style="padding: 2vh;" src="/video/圖片1.png" id="f3" class="img-responsive cc" alt="transportation" data-toggle="modal" data-target="#7"/></div>
            <div class="col-xs-4"><img style="padding: 2vh;" src="/video/圖片1.png" id="f4" class="img-responsive cc" alt="education" data-toggle="modal" data-target="#8"/></div>
            <div class="col-xs-4"><img style="padding: 2vh;" src="/video/圖片1.png" id="f5" class="img-responsive cc" alt="entertainment" data-toggle="modal" data-target="#9"/></div>
        </div>
        <div class="row">
            <div class="col-xs-4"><img src="" class="img-responsive"/></div>
            <div class="col-xs-4"><img src="" class="img-responsive"/></div>
        </div>


        <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#edit">加入影片</button>
        <!-- 修改排序model -->
        <div class="modal fade" id="edit" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">加入影片</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/video/add" method="post" accept-charset="utf-8">

                            <div class="form-group">
                                <label for="type" class="control-label">選擇影片名稱</label>
                                <select name="type" id="change_order_id" class="form-control">
                                    <option selected="not_commonly_used_link" value="food">【中大生活-食】</option>
                                    <option selected="not_commonly_used_link" value="housing">【中大生活-住】</option>
                                    <option selected="not_commonly_used_link" value="transportation">【中大生活-行】</option>
                                    <option selected="not_commonly_used_link" value="education">【中大生活-育】</option>
                                    <option selected="not_commonly_used_link" value="entertainment">【中大生活-樂】</option>
                                    <option selected="" value="">請選擇</option>
                                </select>
                            </div>

                            <div class='form-group'>
                                <label id="not_commonly_used_link_label" style="display:inline-block;" for="content">請在Youtube影片下按分享 -> 嵌入 -> 複製整串編碼後貼上</label>
                                <textarea id="textarea" name="content" rows="8" cols="80"></textarea><br>
                            </div>

                            <button type="submit" name="button" class="btn btn-primary" id="warn">< 加入影片 ></button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>


    <!-- Modal-->
        <div class="modal fade" id="5" role="dialog">
            <div class="modal-dialog">

    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close g1" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">【中大生活-食】</h4>
                    </div>
                    <div class="modal-body">
                        <div id="videofood"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default g1" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    <!-- Modal -->
        <div class="modal fade" id="6" role="dialog">
            <div class="modal-dialog">

    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close g2" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">【中大生活-住】</h4>
                    </div>
                    <div class="modal-body">
                        <div id="videohousing"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default g2" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    <!-- Modal -->
        <div class="modal fade" id="7" role="dialog">
            <div class="modal-dialog">

    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close g3" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">【中大生活-行】</h4>
                    </div>
                    <div class="modal-body">
                        <div id="videotransportation"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default g3" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    <!-- Modal -->
        <div class="modal fade" id="8" role="dialog">
            <div class="modal-dialog">

    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close g4" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">【中大生活-育】</h4>
                    </div>
                    <div class="modal-body">
                        <div id="videoeducation"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default g4" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    <!-- Modal -->
        <div class="modal fade" id="9" role="dialog">
            <div class="modal-dialog">

    <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close g5" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">【中大生活-樂】</h4>
                    </div>
                    <div class="modal-body">
                        <div id="videoentertainment"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default g5" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </main>



    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>

</body>
</html>
