<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>

    <main>
        <div class="container">
            <div class="jumbotron">
                <!-- 新增表單 -->
                <div class="modal fade" id="add_mapObj_modal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">新增地圖物件</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form action="/campus/newMapObj" method="post" accept-charset="utf-8" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="map_obj_id" class="control-label"><p>物件名稱</p></label>
                                        <select name="map_obj_id" class="form-control">
                                            <%for(var i in buildings){ %>
                                                <option value="<%=buildings[i]._id%>"><%=buildings[i].name%></option>
                                            <%}%>
                                        </select>
                                    </div>

                                    <div class='form-group'>
                                        <label for="x-position"><p>X座標</p></label>
                                        <input type="text" name="x_position" value=0>
                                    </div>

                                    <div class='form-group'>
                                        <label for="y-position"><p>Y座標</p></label>
                                        <input type="text" name="y_position" value=0>
                                    </div>

                                    <label for="uploadMapImg" class="input-group">
                                        <p>上傳圖片</p>
                                        <input type="text" readonly class="form-control" id="img_path" name="img_path">
                                        <div class="input-group-btn">
                                            <span class="btn btn-default">
                                                <i class="fa fa-file" aria-hidden="true"></i> 上傳
                                            </span>
                                        </div>
                                    </label>
                                    <input class="form-control" required id="uploadMapImg" type="file" name="uploadMapImg" style="display: none;" accept="image/*" onchange="
                                    this.form.img_path.value=this.value.substr(this.value.lastIndexOf('\\')+1);">
                                    <button type="submit" name="button" class="btn btn-primary">送出</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- 編輯表單 -->
                <div class="modal fade" id="edit_mapObj_modal" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="mapObj_title">編輯地圖物件</h4>
                            </div>
                            <div class="modal-body">
                                
                                <form action="/campus/newMapObj" method="post" accept-charset="utf-8">

                                    <div class='form-group'>
                                        <label for="x-position"><p>X座標</p></label>
                                        <input type="text" name="x_position" id="x-position" value=0>
                                    </div>

                                    <div class='form-group'>
                                        <label for="y-position"><p>Y座標</p></label>
                                        <input type="text" name="y_position" id="y-position" value=0>
                                    </div>

                                    <div class='form-group'>
                                        <label for="size"><p>Size</p></label>
                                        <input type="text" name="size" id="size" value=0>
                                    </div>
                                    <div style="position:relative;width:100%;padding-bottom:56%">
                                        <img src="/campus/default/back2.png" id="editmap" width="100%" alt="" style="position:absolute;">
                                        <img class="draggable" src="" alt="" id="building_img" style="position:absolute; padding:0.5vh">
                                        <img class="draggable" src="/campus/default/SOS1.png" alt="" id="SOSimg" style="display:none;position:absolute;width:3%;">
                                        <img class="draggable" src="/campus/default/AED1.png" alt="" id="AEDimg" style="display:none;position:absolute;width:3%;">
                                    </div>
                                    <input type="hidden" name="mapObj_id" id="mapObj_id">
                                    <input type="hidden" name="SOSx" id="SOSx">
                                    <input type="hidden" name="SOSy" id="SOSy">
                                    <input type="hidden" name="AEDx" id="AEDx">
                                    <input type="hidden" name="AEDy" id="AEDy">
                                    <button type="submit" name="button" value="edit" class="btn btn-primary" >送出</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <h1><%= title  %></h1>
                <button class="btn btn-success" data-toggle="modal" data-target="#add_mapObj_modal">新增地圖物件</button>
                <button class="btn btn-success" onclick="history.back()">回前頁</button>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th><p>名稱</p></th>
                            <th><p>圖片</p></th>
                            <th><p>X座標</p></th>
                            <th><p>Y座標</p></th>
                            <th><p>size</p></th>
                            <th><p>編輯</p></th>
                        </tr>
                    </thead>

                    <tbody>
                    <% for(var i in map_objs){ %>
                        <%if(map_objs[i].build_type!="SOS"&&map_objs[i].build_type!="AED"){%>
                            <tr class = "mapObj_table" value="<%= map_objs[i]._id %>" id="<%='mapObj'+ map_objs[i]._id %>">
                                <td></td>
                                <td class="build_name"><p><%= map_objs[i].build_name %></p></td>
                                <td class="build_img"><img src="<%= map_objs[i].path %>" width="100%"></img></td>
                                <td class="build_x"><p><%= map_objs[i].x_position %></p></td>
                                <td class="build_y"><p><%= map_objs[i].y_position %></p></td>
                                <td class="build_size"><p><%= map_objs[i].size %></p></td>
                                <td class="build_SOS" style="display:none"><%= map_objs[i].SOS %></td>
                                <td class="build_AED" style="display:none"><%= map_objs[i].AED %></td>
                                <%if(map_objs[i].SOS){%>
                                    <td class="build_SOSx" style="display:none"><%= map_objs[i].SOSx %></td>
                                    <td class="build_SOSy" style="display:none"><%= map_objs[i].SOSy %></td>
                                <%}%>
                                <%if(map_objs[i].AED){%>
                                    <td class="build_AEDx" style="display:none"><%= map_objs[i].AEDx %></td>
                                    <td class="build_AEDy" style="display:none"><%= map_objs[i].AEDy %></td>
                                <%}%>
                                <td>
                                    <button class="btn btn-default btn-xs edit_mapObj" value="<%= map_objs[i].id%>">編輯</button>
                                    <button class="btn btn-danger btn-xs delete_mapObj" value="<%= map_objs[i].id%>"><i class="fa fa-trash-o fa-lg"></i> 刪除</button>
                                </td>
                            </tr>
                        <%}%>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>
