<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layouts/head %>
</head>
<body>
    <header>
        <% include ../layouts/navbar %>
    </header>
    <main>
    <div class="container">
        <div class="jumbotron">
            <!--building add/edit Modal -->
            <div class="modal fade" id="add_build_modal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">新增建築物</h4>
                        </div>
                        <div class="modal-body">
                            <form action="/campus/add" method="post" accept-charset="utf-8">

                                <div class="form-group">
                                    <label for="name" class="control-label">建築物名稱</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="名稱" required>
                                </div>

                                <div class="form-group">
                                    <label for="type" class="control-label">建築物類別</label>
                                    <select name="type" id="type" class="form-control">
                                        <option value="" selected="selected"></option>
                                        <option value="行政">行政</option>
                                        <option value="系館">系館</option>
                                        <option value="中大景點">中大景點</option>
                                        <option value="運動">運動</option>
                                        <option value="飲食">飲食</option>
                                        <option value="住宿">住宿</option>
                                    </select>
                                </div>

                                <div class='form-group'>
                                    <label for="content">建築物簡介</label>
                                    <textarea name="content" rows="8" cols="80"></textarea><br>
                                </div>

                                <div class="form-group">
                                    <label for="SOS" class="control-label">附近是否有SOS</label>
                                    <select name="SOS" id="SOS" class="form-control">
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="AED" class="control-label">附近是否有AED</label>
                                    <select name="AED" id="AED" class="form-control">
                                        <option value="0">否</option>
                                        <option value="1">是</option>
                                    </select>
                                </div>
                                <input type="hidden" id="bid" name="bid">
                                <button type="submit" name="button" class="btn btn-primary" id="btn_save">送出</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!--building preview Modal -->
            <% for (var i in buildings){%>
                <div class="modal fade" id="<%='preview_modal'+buildings[i].id%>" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"><%= buildings[i].name + " 簡介" %></h4>
                            </div>
                            <div class="modal-body">
                                <%- buildings[i].content%>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            <%}%>
            <!--img preview Modal -->
            <div class="modal fade" id="img_preview_modal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"> 圖片 </h4>
                        </div>
                        <div class="modal-body">
                            <div class="text-center" id ="img_body"></div>
                            <form method="post" enctype="multipart/form-data" action="/campus/imgUpload" id="img_form">
                                <input type="hidden" id="imgid" name="imgid">
                                <label for="uploadingImg" class="input-group">
                                    <p>上傳圖片(一定要4:3!!!)</p>
                                    <input type="text" required readonly class="form-control" id="img_path" name="img_path">
                                    <div class="input-group-btn">
                                        <span class="btn btn-default">
                                            <i class="fa fa-file" aria-hidden="true"></i> 上傳
                                        </span>
                                    </div>
                                </label>
                                <input class="form-control" id="uploadingImg" type="file" name="uploadingImg" style="display: none;" accept="image/*" onchange="
        this.form.img_path.value=this.value.substr(this.value.lastIndexOf('\\')+1);">
                                <input class="btn btn-success" type="button" id="uploadImg" value="送出">
                            </form>

                        </div>
                    </div>

                </div>
            </div>

            <h1><%= title  %></h1>

            <button class="btn btn-success new_building" data-toggle="modal" data-target="#add_build_modal">新增建築物</button>
            <a href="/campus"><button class="btn btn-success new_building">回前頁</button></a>

            <table class="table table-hover">
                <caption>已新增的建築</caption>

                <thead>
                    <tr>
                        <th></th>
                        <th>名稱</th>
                        <th>類別</th>
                        <th>介紹</th>
                        <th>圖片</th>
                        <th>編輯</th>
                    </tr>
                </thead>

                <tbody>
                <% for(var i in buildings){ %>
                    <tr id = "<%='b'+ buildings[i].id %>" >
                        <td></td>
                        <td><p><%= buildings[i].name %></p></td>
                        <td><p><%= buildings[i].type %></p></td>
                        <td>
                            <button class="btn btn-default btn-xs" data-toggle="modal" data-target="<%='#preview_modal'+buildings[i].id%>">瀏覽</button>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs edit_img" value="<%= buildings[i].id%>">編輯</button>
                        </td>
                        <td>
                            <button class="btn btn-default btn-xs edit_build" value="<%= buildings[i].id%>">編輯</button>
                            <button class="btn btn-danger btn-xs delete_build" value="<%= buildings[i].id%>"><i class="fa fa-trash-o fa-lg"></i> 刪除</button>
                        </td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <% include ../layouts/footer %>
    </footer>
        <% include js %>
        <% include ../layouts/js %>
</body>
</html>

<script src="/javascript/ckeditor/ckeditor.js"></script>

<script type="text/javascript">
  CKEDITOR.replace('content',{
    filebrowserUploadUrl: '/uploader',
  });
  CKEDITOR.editorConfig = function (config){
      config.enterMode = CKEDITOR.ENTER_BR;
      config.autoParagraph = false;
  };
</script>